<!DOCTYPE html>
<html>
<head>
  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130791774-1"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-130791774-1');
  </script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Asia's first global entrepreneurship conference for students by students with the aim to connect student entrepreneurs all over the world and create a global network of innovators.">
  <meta name="google-site-verification" content="_XWasFf_fuvdHpZ1c8CP4t_NV4coS6uYbn9vKzuBiqg" />
  <title>Asia's craziest startup conference for students by students - UNICON 2019</title>
  <link rel="icon" type="image/png" href="/speakers_images/favicon.png" sizes="48x48">
  <link rel="stylesheet" type="text/css" href="dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/unicon.css">
  <!-- Facebook Pixel Code -->
  <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};
          if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
          n.queue=[];t=b.createElement(e);t.async=!0;
          t.src=v;s=b.getElementsByTagName(e)[0];
          s.parentNode.insertBefore(t,s)}(window, document,'script',
          'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '748463218657549');
      fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
                 src="https://www.facebook.com/tr?id=748463218657549&ev=PageView&noscript=1"
    /></noscript>
  <!-- End Facebook Pixel Code -->
  <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/18e5e8207c24a2ac3d1322dfd/2d6a050796a1b885f3e03db8b.js");</script>


</head>

  <body>

    <script>
      fbq('track', 'CompleteRegistration');
    </script>

    <div class="ui inverted vertical header-section center aligned segment">
      <div class="ui text container">
        <!-- <video src="/speakers_images/please.mp4" autoplay poster="/speakers_images/please.mp4">
      </video> -->
      <img class="ui image" id="gif" src="/speakers_images/bangg.gif">
      <img class="ui image" id="logo" src="/speakers_images/uniconLogoBig.png">
      <h1 id="first">Creating the unicorns of tomorrow</h1>
      <!-- <h1 id="fisrt">Asia's Craziest Collegiate Entrepreneurship Conference</h1> -->
      <h1 id="second">CRAZIEST</h1>
      <h1 id="third">Student Conference on Tech and Entrepreneurship</h1>
      <h2 id="date">Feb 23 - 24, 2019 @NUS, Singapore</h2>
      <!-- <h2>NUS, Singapore</h2> -->
    </div>
  </div>

  <div class="ui borderless center aligned inverted main secondary menu">
    <div href="#" class="header item">
      <img class="ui image" src="/speakers_images/uniconlogo2019.png">
    </div>
    <div class="ui center aligned text container">
      <a class="item " id="about" href="#about">About</a>
      <a class="item" id="agenda" href="#agenda">Agenda</a>
      <a class="item" id="speakers" href="#speakers">Speakers</a>
      <a class="item" id="partners" href="#partners">Partners</a>
      <a class="item" id="pricing" href="#pricing">Pricing</a>
      <a class="item" id="arena" href="#arena">Arena</a>
      <a class="item" id="venue" href="#venue">Details</a>
      <a class="item" id="contact">Contact</a>
    </div>
    <div class="right item">
      <!-- <a href="https://www.eventbrite.sg/e/unicon-2018-tickets-39138383960" class="ui button">Register</a> -->
      <i class="sidebar icon"></i>
    </div>
  </div>

  <div class="modal" id="side_bar">
    <div class="modal-content">
      <i class="remove icon"></i>
      <div class="ui list">
        <div class="item" id="about">About</div>
        <div class="item" id="agenda">Agenda</div>
        <div class="item" id="speakers">Speakers</div>
        <div class="item" id="partners">Partners</div>
        <div class="item" id="pricing">Pricing</div>
        <div class="items" id="arena">Arena</div>
        <div class="item" id="venue">Venue</div>
        <div class="item" id="contact">Contact</div>
      </div>
    </div>
  </div>

  <div class="ui modal" id="promo">
    <i class="close icon"></i>
    <img id="promo_image" src="/speakers_images/promo.png">
  </div>

  <div class="ui vertical about-section center aligned segment" id="about">
    <div class="ui text header container">
      <h1 class="ui header" id="eventDate">Feb 23rd - 24th 2019</h1>
      <h1 class="ui header" id="eventVenue">NUS, Singapore</h1>
    </div>
    <div class="ui text detail container">
      <h3>UNICON 2018 was a two–day conference that serves to unite international student entrepreneurs, prominent founders,
        industry experts and venture capitalists. Each year, outstanding young entrepreneurs from across Asia are gathered, challenged and inspired through our activities line-up.
        Stay tuned for details on UNICON 2019!
      </h3>
    </div>
  </div>

    <div class="ui vertical agenda-section center aligned segment" id="agenda">
      <div class="ui text header container">
        <h1 class="ui header">Agenda for 2019</h1>
      </div>

      <div class="ui center aligned content grid container">
        <div class="sixteen wide mobile eight wide tablet seven wide computer column">
          <div class="ui raised card">
            <h2>DAY 1, FEBRUARY 23RD</h2>
            <div class="event">
              <h3 class="date">9:00 AM</h3>
              <h3 class="title">REGISTRATION</h3>
            </div>
            <div class="event">
              <h3 class="date">10:00 AM</h3>
              <h3 class="title">WELCOME KEYNOTE</h3>
            </div>
            <div class="event">
              <h3 class="date">10:30 AM</h3>
              <h3 class="title">FOUNDER’S STORY</h3>
            </div>
            <div class="event">
              <h3 class="date">11:00 AM</h3>
              <h3 class="title">PASSION AND PRACTICALITY</h3>
            </div>
            <div class="event">
              <h3 class="date">11:30 AM</h3>
              <h3 class="title">BLOCKCHAIN: BREAKING THE TRADITIONAL CHAIN</h3>
            </div>
            <div class="event">
              <h3 class="date">12:00 PM</h3>
              <h3 class="title">LUNCH</h3>
            </div>
            <div class="event">
              <h3 class="date">1:00 PM</h3>
              <h3 class="title">AFTERNOON PANEL DISCUSSIONS</h3>
            </div>
            <div class="event">
              <h3 class="date">7:00PM</h3>
              <h3 class="title">NETWORKING PARTY</h3>
            </div>
          </div>
        </div>
        <div class="sixteen wide mobile eight wide tablet seven wide computer column">
          <div class="ui raised card">
            <h2>DAY 2, FEBRUARY 24TH</h2>
            <div class="event">
              <h3 class="date">10:00 AM</h3>
              <h3 class="title">CYBERSECURITY: HOW SAFE ARE YOUR ASSETS?</h3>
            </div>
            <div class="event">
              <h3 class="date">10:30 AM</h3>
              <h3 class="title">PIVOT YOUR WAY TO SUCCESS</h3>
            </div>
            <div class="event">
              <h3 class="date">11:00 AM</h3>
              <h3 class="title">FINTECH: BIGGEST FISH IN S.E.A</h3>
            </div>
            <div class="event">
              <h3 class="date">12:00 PM</h3>
              <h3 class="title">LUNCH</h3>
            </div>
            <div class="event">
              <h3 class="date">1:00 PM</h3>
              <h3 class="title">ALIBABA AND THE 163 CHINESE UNICORNS</h3>
            </div>
            <div class="event">
              <h3 class="date">2:00 PM</h3>
              <h3 class="title">BLACK MIRROR: DREAM OR DYSTOPIA</h3>
            </div>
            <div class="event">
              <h3 class="date">3:00 PM</h3>
              <h3 class="title">UNICON ARENA</h3>
            </div>
            <div class="event">
              <h3 class="date">5:00 PM</h3>
              <h3 class="title">NETWORKING TEA</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="ui text description container">
        <a href="https://drive.google.com/file/d/1mEfEjaRQDdPGyIjUHsT7ky7E6sDOX9-6/view?usp=sharing" class="arena big ui button">UNICON 2018 Video</a>
      </div>
    </div>

    <div class="ui vertical speakers-section center aligned segment" id="speakers">
      <div class="ui text header container">
        <h1 class="ui header">Speakers for 2019</h1>
      </div>
      <div class="ui middle aligned equal width grid detail container">
        <div class="eight wide mobile four wide tablet four wide computer column">
          <a href="https://www.linkedin.com/in/ajeygore/"><i class="linkedin icon"></i></a>
          <h3 class="info"><div class="name" id="no_warp">Ajey Gore</div><br>Group CTO<br>Go-Jek</h3>
          <img class="ui rounded image" src="/speakers_images/speakers2019/Ajey_Gore.png">
        </div>
        <div class="eight wide mobile four wide tablet four wide computer column">
          <a href="https://www.linkedin.com/in/aik-phong-ng-8b3560/?originalSubdomain=sg"><i class="linkedin icon"></i></a>
          <h3 class="info"><div class="name">Ng Aik Phong</div><br>Managing Director<br>Fave</h3>
          <img class="ui rounded image" src="/speakers_images/speakers2019/Aik_Phong_Ng.png">
        </div>
        <div class="eight wide mobile four wide tablet four wide computer column">
          <a href="https://www.linkedin.com/in/arrif-ziaudeen-a72449a/?originalSubdomain=sg"><i class="linkedin icon"></i></a>
          <h3 class="info"><div class="name" id="no_warp">Arrif Ziaudeen</div><br>Founder and CEO<br>Chope</h3>
          <img class="ui rounded image" src="/speakers_images/speakers2019/Arrif_Ziaudeen.png">
        </div>
        <div class="eight wide mobile four wide tablet four wide computer column">
          <a href="https://www.linkedin.com/in/shanru-lai-b671a268/?originalSubdomain=sg"><i class="linkedin icon"></i></a>
          <h3 class="info"><div class="name" id="no_warp">Shanru Lai</div><br>Co-Founder<br>Shopback</h3>
          <img class="ui rounded image" src="/speakers_images/speakers2019/Shanru_Lai.png">
        </div>
        <div class="eight wide mobile four wide tablet four wide computer column">
          <a href="https://www.linkedin.com/in/julianhosp/?originalSubdomain=sg"><i class="linkedin icon"></i></a>
          <h3 class="info"><div class="name" id="no_warp">Dr. Julian Hosp</div><br>Co-Founder<br>TenX</h3>
          <img class="ui rounded image" src="/speakers_images/speakers2019/Dr_Julian_Hosp.png">
        </div>
        <div class="eight wide mobile four wide tablet four wide computer column">
          <a href="https://www.linkedin.com/in/mhlints/?originalSubdomain=sg"><i class="linkedin icon"></i></a>
          <h3 class="info"><div class="name">Michael Lints</div><br>Partner<br>Golden Gate Ventures</h3>
          <img class="ui rounded image" src="/speakers_images/speakers2019/Michael_Lints.png">
        </div>
        <div class="eight wide mobile four wide tablet four wide computer column">
          <a href="https://www.linkedin.com/in/teck-yong-lim-62141032/?originalSubdomain=sg"><i class="linkedin icon"></i></a>
          <h3 class="info"><div class="name" id="no_warp">Lim Teck Yong</div><br>Head of Operations<br>Shopee</h3>
          <img class="ui rounded image" src="/speakers_images/speakers2019/Teck_Yong_Lim.png">
        </div>
        <div class="eight wide mobile four wide tablet four wide computer column">
          <a href="https://www.linkedin.com/in/sakhee/"><i class="linkedin icon"></i></a>
          <h3 class="info"><div class="name">Sakhee Dheer</div><br>Head of Digital, Global Business Marketing<br>Facebook</h3>
          <img class="ui rounded image" src="/speakers_images/speakers2019/sakhee_dheer.png">
        </div>
        <div class="eight wide mobile four wide tablet four wide computer column">
          <a href="https://www.linkedin.com/in/chuakelvin/?originalSubdomain=sg"><i class="linkedin icon"></i></a>
          <h3 class="info"><div class="name">Kelvin Chua</div><br>Head of Product R&D and Infrastructure<br>Circles.Life</h3>
          <img class="ui rounded image" src="/speakers_images/speakers2019/Kelvin_Chua.png">
        </div>
        <div class="eight wide mobile four wide tablet four wide computer column">
          <a href="https://www.linkedin.com/in/sagarsarbhai/"><i class="linkedin icon"></i></a>
          <h3 class="info"><div class="name">Sagar Sarbhai</div><br>Head of Government & Regulatory Relations<br>Ripple</h3>
          <img class="ui rounded image" src="/speakers_images/speakers2019/Sagar_Sarbhai.png">
        </div>
        <div class="eight wide mobile four wide tablet four wide computer column">
          <a href="https://www.linkedin.com/in/jupetan/"><i class="linkedin icon"></i></a>
          <h3 class="info"><div class="name">Jupe Tan</div><br>Managing Partner Asia Pacific<br>Plug and Play</h3>
          <img class="ui rounded image" src="/speakers_images/speakers2019/Jupe_Tan.png">
        </div>
        <div class="eight wide mobile four wide tablet four wide computer column">
          <a href="https://www.linkedin.com/in/jstona/"><i class="linkedin icon"></i></a>
          <h3 class="info"><div class="name">Jon Stona</div><br>Head of APAC Marketing<br>Stripe</h3>
          <img class="ui rounded image" src="/speakers_images/speakers2019/Jon_Stona.png">
        </div>
      <!--Present Speakers-->
    </div>

  <div class="ui vertical speakers-section center aligned segment" id="speakers">
    <div class="ui text header container">
      <h1 class="ui header">Speakers for 2018</h1>
    </div>
    <div class="ui middle aligned equal width grid detail container">
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://en.wikipedia.org/wiki/Janil_Puthucheary"><i class="linkedin icon"></i></a>
        <h3 class="info"><div class="name">Dr Janil Puthucheary</div><br>Senior Minister of State<br>MCI &amp; MOE</h3>
        <img class="ui rounded image" src="/speakers_images/janil.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://sg.linkedin.com/in/yodchatri"><i class="linkedin icon"></i></a>
        <h3 class="info"><div class="name">Chatri Sityodtong</div><br>Founder, CEO<br>ONE Championship</h3>
        <img class="ui rounded image" src="/speakers_images/chatri.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://www.linkedin.com/in/oliver-tan-277b0127"><i class="linkedin icon"></i></a>
        <h3 class="info"><div class="name">Oliver Tan</div><br>Co-Founder, CEO<br>Visenze</h3>
        <img class="ui rounded image" src="/speakers_images/oliver.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://sg.linkedin.com/in/karlmaks"><i class="linkedin icon"></i></a>
        <h3 class="info"><div class="name">Karl Mak</div><br>Co-Founder, CEO<br>Hepmil (SGAG &amp; MGAG)</h3>
        <img class="ui rounded image" src="/speakers_images/karl.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://sg.linkedin.com/in/rachel-lim-25b3b262"><i class="linkedin icon"></i></a>
        <h3 class="info"><div class="name">Rachel Lim</div><br>Co-Founder, CEO<br>Love, Bonito</h3>
        <img class="ui rounded image" src="/speakers_images/rachel.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://sg.linkedin.com/in/dionesong"><i class="linkedin icon"></i></a>
        <h3 class="info"><div class="name">Dione Song</div><br>Chief Commercial Officer<br>Love, Bonito</h3>
        <img class="ui rounded image" src="/speakers_images/dione.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://www.linkedin.com/in/oziamanat/"><i class="linkedin icon"></i></a>
        <h3 class="info"><div class="name">Ozi Amanat</div><br>Founding Partner<br>K2 Global VC</h3>
        <img class="ui rounded image" src="/speakers_images/ozi.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://sg.linkedin.com/in/sgjames"><i class="linkedin icon"></i></a>
        <h3 class="info"><div class="name">James Tan</div><br>Managing Partner<br>Quest Ventures</h3>
        <img class="ui rounded image" src="/speakers_images/james.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://sg.linkedin.com/in/vincentlauria"><i class="linkedin icon"></i></a>
        <h3 class="info"><div class="name">Vinnie Lauria</div><br>Founding Partner<br>Golden Gate Ventures</h3>
        <img class="ui rounded image" src="/speakers_images/vinnie.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://sg.linkedin.com/in/saeminahn"><i class="linkedin icon"></i></a>
        <h3 class="info"><div class="name">Saemin Ahn</div><br>Managing Partner<br>Rakuten Ventures</h3>
        <img class="ui rounded image" src="/speakers_images/saemin.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://sg.linkedin.com/in/albertshyy"><i class="linkedin icon"></i></a>
        <h3 class="info"><div class="name">Albert Shyy</div><br>Principal<br>Burda Principal Investments</h3>
        <img class="ui rounded image" src="/speakers_images/albert.png">
      </div>

      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://sg.linkedin.com/in/praveenvelu"><i class="linkedin icon"></i></a>
        <h3 class="info"><div class="name" id="no_warp">Praveen Velu</div><br>Co-Founder, CEO<br>Evie.ai</h3>
        <img class="ui rounded image" src="/speakers_images/praveen.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://sg.linkedin.com/in/pkhushani"><i class="linkedin icon"></i></a>
        <h3 class="info"><div class="name">Pankaj khushani</div><br>Head of Analytics &amp; Platform Partnership SEA<br>Google</h3>
        <img class="ui rounded image" src="/speakers_images/pankaj.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://sg.linkedin.com/in/dfallarme"><i class="linkedin icon"></i></a>
        <h3 class="info"><div class="name" id="no_warp">David Fallarme</div><br>Senior Marketing Manager<br>Hubspot</h3>
        <img class="ui rounded image" src="/speakers_images/david.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://sg.linkedin.com/in/abhilashmurthy"><i class="linkedin icon"></i></a>
        <h3 class="info"><div class="name">Abhilash Murthy</div><br>Founder,CEO<br>Bus Uncle</h3>
        <img class="ui rounded image" src="/speakers_images/abhil.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://sg.linkedin.com/in/kenneth-lou"><i class="linkedin icon"></i></a>
        <h3 class="info"><div class="name" id="no_warp">Kenneth Lou</div><br>Co-founder, CEO<br>Seedly</h3>
        <img class="ui rounded image" src="/speakers_images/kenneth.png">
      </div>

      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://www.linkedin.com/in/shaundjie"><i class="linkedin icon"></i></a>
        <h3 class="info"><div class="name" id="no_warp">Shaun Djie</div><br>Co-founder<br>DigixGlobal</h3>
        <img class="ui rounded image" src="/speakers_images/shaun.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://sg.linkedin.com/in/bjornlee"><i class="linkedin icon"></i></a>
        <h3 class="info"><div class="name">Bjorn Lee</div><br>Founder & CEO<br>MindFi</h3>
        <img class="ui rounded image" src="/speakers_images/bjorn.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://www.linkedin.com/in/jacopodaeli/"><i class="linkedin icon"></i></a>
        <h3 class="info"><div class="name">Jacopo Daeli</div><br>Senior Software Engineer<br>GoDaddy</h3>
        <img class="ui rounded image" src="/speakers_images/jacopo.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://www.linkedin.com/in/anna-rehermann-a1599529/"><i class="linkedin icon"></i></a>
        <h3 class="info"><div class="name">Anna Rehermann</div><br>Founder<br>Growth Hacking Asia</h3>
        <img class="ui rounded image" src="/speakers_images/anna.png">
      </div>
    </div>
    <!--Past Speakers-->
  </div>


  <div class="ui vertical partners-section center aligned segment" id="partners">
    <div class="ui text header container">
      <h1 class="ui header">Key Partners for 2018</h1>
    </div>
    <div class="ui text description container">
      <h3>Industry-defining brands that have helped make UNICON into what it is today.
      </h3>
    </div>

    <div class="ui center aligned equal width grid primary detail container">
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/enterprise.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/nyc.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/gefa.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/fave.png">
      </div>
    </div>

    <div class="ui text secondary description container">
      <h3>Talents from region's top universities will be joining us.</h3>
    </div>

    <div class="ui center aligned equal width grid secondary detail container">
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/nus.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/ntu.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/hkust.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/kaist.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/tsinghua.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/peking.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/seoul.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/tokyo.png">
      </div>
    </div>

    <div class="ui text secondary description container">
      <h3>Our lovely community partners</h3>
    </div>

    <div class="ui center aligned equal width grid secondary detail container">
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="http://enterprise.nus.edu.sg"><img class="ui image" src="/speakers_images/enterprise.png"></a>
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://sg.alphacamp.co"><img class="ui image" src="/speakers_images/ac.png"></a>
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="http://thehive.sg"><img class="ui image" src="/speakers_images/hive.png"></a>
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://www.questventures.com"><img class="ui image" src="/speakers_images/quest.png"></a>
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="http://www.startupjobs.asia"><img class="ui image" src="/speakers_images/sja.png"></a>
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://dailysocial.id"><img class="ui image" src="/speakers_images/dsi.png"></a>
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="http://kolaborasi.co"><img class="ui image" src="/speakers_images/kola.png"></a>
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="http://www.unframed.so"><img class="ui image" src="/speakers_images/unframed.png"></a>
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="http://www.cnclv.co"><img class="ui image" src="/speakers_images/conclave.png"></a>
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://www.collision8.com"><img class="ui image" src="/speakers_images/collison.png"></a>
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://geekhunter.co"><img class="ui image" src="/speakers_images/geek.png"></a>
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://sponslist.com"><img class="ui image" src="/speakers_images/sponslist.png"></a>
      </div>
    </div>

  </div>




  <div class="ui vertical pricing-section center aligned segment" id="pricing">

    <div class="ui text header container">
      <h1 class="ui header">Pricing</h1>
    </div>

    <div class="ui center aligned equal width content grid container">
      <div class="sixteen wide mobile five wide tablet five wide computer column">
        <div class="ui raised card">
          <h2>Students</h2>
          <h4>Currently enrolled in any University</h4>
          <h1>S$50</h1>
          <a class="eb"><h3>Early bird</h3></a>
          <a class="ui animated vertical button"  href="https://www.eventbrite.sg/e/unicon-2019-asias-craziest-student-entrepreneurship-conference-tickets-51752259401?aff=ebdssbdestsearch" tabindex="0">
            <div class="visible content"><h2>Register Now</h2></div>
            <div class="hidden content"><i class="shopping cart icon"></i></div>
          </a>
        </div>
      </div>
      <div class="sixteen wide mobile five wide tablet five wide computer column">
        <div class="ui raised card">
          <h2>Recent Graduates</h2>
          <h4>Class of 2016 Onwards</h4>
          <h1>S$100</h1>
          <a class="eb"><h3>Early bird</h3></a>
          <a class="ui animated vertical button" href="https://www.eventbrite.sg/e/unicon-2019-asias-craziest-student-entrepreneurship-conference-tickets-51752259401?aff=ebdssbdestsearch">
            <div class="visible content"><h2>Register Now</h2></div>
            <div class="hidden content"><i class="shopping cart icon"></i></div>
          </a>
        </div>
      </div>
      <div class="sixteen wide mobile five wide tablet five wide computer column">
        <div class="ui raised card">
          <h2>Public</h2>
          <h4>Open to all working adults</h4>
          <h1>S$140</h1>
          <a class="eb"><h3>Early bird</h3></a>
          <a class="ui animated vertical button" href="https://www.eventbrite.sg/e/unicon-2019-asias-craziest-student-entrepreneurship-conference-tickets-51752259401?aff=ebdssbdestsearch">
            <div class="visible content"><h2>Register Now</h2></div>
            <div class="hidden content"><i class="shopping cart icon"></i></div>
          </a>
        </div>
      </div>
    </div>

  </div>
  <div class="ui vertical arena-section segment" id="arena">
      <div class="ui text header container">
          <h1 class="ui header">Arena</h1>
      </div>
      <div class="ui center aligned arena container">
          <img class="ui rounded image" src="/speakers_images/arena.png">
          <h1 class="ui header">BRINGING YOUR START-UP IDEAS TO LIFE</h1>
          <h2 class="ui header">Leave your email here to find out more!</h2>
          <form id="gform" method="POST" action="https://script.google.com/macros/s/AKfycbyny62rZrrjztvQEVGgN4MKsRGinqNBbzkOpmAtUnFensnKYoI/exec">
              <div class="ui action input">
                  <input type="email" required="required" name="Email" placeholder="Email">
                    <button class="ui animated button" type="submit">
                      <div class="visible content">Apply</div>
                      <div class="hidden content"><i class="check icon"></i></div>
                    </button>
              </div>
          </form>
      </div>
  </div>

  <div class="ui vertical venue-section segment" id="venue">

    <div class="ui middle aligned grid">
      <div class="row">
        <div class="sixteen wide mobile sixteen wide tablet eight wide computer column" id="image">
          <img class="ui image" src="/speakers_images/utown.jpg">
        </div>
        <div class="sixteen wide mobile sixteen wide tablet eight wide computer column" id="location">
          <div class="ui center aligned location text">
            <h2>Feb 23 - 24, 2019</h2>
            <h2>University Town</h2>
            <h2>NUS, Singapore</h2>
          </div>
          <div id="map">
            <script>
            function initMap() {
              var utown = {lat: 1.304601, lng: 103.772312};
              var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 16,
                center: utown
              });
              var marker = new google.maps.Marker({
                position: utown,
                map: map
              });
            }
            </script>
            <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqWtxeZ7ffilrlXfCQYXVU80u2ddp22dM&callback=initMap">
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui vertical contact-section segment">
    <div class="ui text center aligned header container">
      <h1 class="ui header">What's next?</h1>
    </div>

    <div class="ui text center aligned update container">
      <h3>We announce updates via email first. Leave your address to be the first to know.</h3>
      <form id="gform" method="POST" action="https://script.google.com/a/nes.org.sg/macros/s/AKfycbxLtkCBQcdIGnu4W9KmoTJCncyCwQhi3tENyxRfPmiV00pjl1Bg/exec">
        <div class="ui action input">
          <input type="email" required="required" name="email" placeholder="Email">
          <button class="ui animated button" type="submit">
            <div class="visible content">Apply</div>
            <div class="hidden content"><i class="check icon"></i></div>
          </button>
        </div>
      </form>
      <div style="display:none;" id="thankyou_message">
        <h2>Thanks! We will update you soon.</h2>
      </div>
</div>

<div class="ui text center aligned contact-header container">
  <h1 class="ui header">Get in touch</h1>
</div>

<div class="ui text center aligned description container">
  <h3>Have some additional questions? Contact us at <a href="mailto:unicon@nes.org.sg?Subject=Hello%20UNICON2019" target="_top">unicon@nes.org.sg</a></h3>
</div>

</div>

<div class="ui inverted vertical footer segment">
  <div class="ui stackable inverted grid">
    <div class="four wide column" id="logo">
      <h4 class="ui inverted header">©UNICON 2019</h4>
    </div>
    <div class="eight wide column" id="comment">
      <div class="ui text container">
        <h4 class="ui inverted header">Brought to you by NUS Entrepreneurship Society</h4>
        <img class="ui centered image" src="/speakers_images/nes_logo.png">
      </div>
    </div>
    <div class="four wide column" id="social">
      <div class="ui text container">
        <a href="https://www.facebook.com/unicon2019sg/"><i class="facebook f icon"></i></a>
        <a href="https://www.linkedin.com/company/13457301/"><i class="linkedin icon"></i></a>
      </div>
    </div>
  </div>
</div>

</div>
<script data-cfasync="false" type="text/javascript" src="https://cdn.rawgit.com/dwyl/html-form-send-email-via-google-script-without-server/master/form-submission-handler.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="dist/semantic.min.js"></script>
    <script src="scripts/transition.js"></script>
    <script src="scripts/visibility.js"></script>
    <script src="scripts/event.js"></script>
</body>

</html>
