<!DOCTYPE html>
<html>
<head>
  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130791774-1"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-130791774-1');
  </script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Asia's first global entrepreneurship conference for students by students with the aim to connect student entrepreneurs all over the world and create a global network of innovators.">
  <meta name="google-site-verification" content="_XWasFf_fuvdHpZ1c8CP4t_NV4coS6uYbn9vKzuBiqg" />
  <title>Asia's craziest startup conference for students by students - UNICON 2019</title>
  <link rel="icon" type="image/png" href="/speakers_images/favicon.png" sizes="48x48">
  <link rel="stylesheet" type="text/css" href="dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/unicon.css">
  <!-- Facebook Pixel Code -->
  <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};
          if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
          n.queue=[];t=b.createElement(e);t.async=!0;
          t.src=v;s=b.getElementsByTagName(e)[0];
          s.parentNode.insertBefore(t,s)}(window, document,'script',
          'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '748463218657549');
      fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
                 src="https://www.facebook.com/tr?id=748463218657549&ev=PageView&noscript=1"
    /></noscript>
  <!-- End Facebook Pixel Code -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="dist/semantic.min.js"></script>
    <script src="scripts/transition.js"></script>
    <script src="scripts/visibility.js"></script>
    <script src="scripts/event.js"></script>
    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/18e5e8207c24a2ac3d1322dfd/b0b2af28ab12eb69871c85fc6.js");</script>

  </head>

  <body>

    <script>
      fbq('track', 'CompleteRegistration');
    </script>

    <div class="ui inverted vertical header-section center aligned segment">
      <div class="ui text container">
        <!-- <video src="/speakers_images/please.mp4" autoplay poster="/speakers_images/please.mp4">
      </video> -->
      <img class="ui image" id="gif" src="/speakers_images/bangg.gif">
      <img class="ui image" id="logo" src="/speakers_images/uniconLogoBig.png">
      <h1 id="first">Creating the unicorns of tomorrow</h1>
      <!-- <h1 id="fisrt">Asia's Craziest Collegiate Entrepreneurship Conference</h1> -->
      <h1 id="second">CRAZIEST</h1>
      <h1 id="third">Student Conference on Tech and Entrepreneurship</h1>
      <h2 id="date">Feb 23 - 24, 2019 @NUS, Singapore</h2>
      <!-- <h2>NUS, Singapore</h2> -->
    </div>
  </div>

  <div class="ui borderless center aligned inverted main secondary menu">
    <div href="#" class="header item">
      <img class="ui image" src="/speakers_images/uniconlogo2019.png">
      <!--<img class="ui image" src="/speakers_images/uniconLogo1.png">-->
      <!-- <a href="https://www.eventbrite.sg/e/unicon-2018-tickets-39138383960" class="ui button">Register</a> -->
    </div>
    <div class="ui center aligned text container">
      <a class="item" id="about" href="#about">About</a>
      <a class="item" id="agenda" href="#agenda">Agenda</a>
      <a class="item" id="speakers" href="#speakers">Speakers</a>
      <a class="item" id="partners" href="#partners">Partners</a>
      <a class="item" id="pricing" href="#pricing">Pricing</a>
      <a class="item" id="venue" href="#venue">Details</a>
      <a class="item" id="contact">Contact</a>
    </div>
    <div class="right item">
      <!-- <a href="https://www.eventbrite.sg/e/unicon-2018-tickets-39138383960" class="ui button">Register</a> -->
      <i class="sidebar icon"></i>
    </div>
  </div>

  <div class="modal">
    <div class="modal-content">
      <i class="remove icon"></i>
      <div class="ui list">
        <div class="item" id="about">About</div>
        <div class="item" id="agenda">Agenda</div>
        <div class="item" id="speakers">Speakers</div>
        <div class="item" id="partners">Partners</div>
        <div class="item" id="pricing">Pricing</div>
        <div class="item" id="venue">Venue</div>
        <div class="item" id="contact">Contact</div>
      </div>
    </div>
  </div>

  <div class="ui vertical about-section center aligned segment" id="about">
    <div class="ui text header container">
      <h1 class="ui header" id="eventDate">Feb 23rd - 24th 2019</h1>
      <h1 class="ui header" id="eventVenue">NUS, Singapore</h1>
    </div>
    <div class="ui text detail container">
      <h3>UNICON 2018 was a two–day conference that serves to unite international student entrepreneurs, prominent founders,
        industry experts and venture capitalists. Each year, outstanding young entrepreneurs from across Asia are gathered, challenged and inspired through our activities line-up.
        Stay tuned for details on UNICON 2019!
      </h3>
    </div>
  </div>

    <div class="ui vertical agenda-section center aligned segment" id="agenda">
      <div class="ui text header container">
        <h1 class="ui header">Agenda for 2019</h1>
      </div>

      <div class="ui center aligned content grid container">
        <div class="sixteen wide mobile eight wide tablet seven wide computer column">
          <div class="ui raised card">
            <h2>DAY 1, FEBRUARY 23RD</h2>
            <div class="event">
              <h3 class="date">9:00 AM</h3>
              <h3 class="title">REGISTRATION</h3>
            </div>
            <div class="event">
              <h3 class="date">10:00 AM</h3>
              <h3 class="title">WELCOME KEYNOTE</h3>
            </div>
            <div class="event">
              <h3 class="date">10:30 AM</h3>
              <h3 class="title">FOUNDER’S STORY</h3>
            </div>
            <div class="event">
              <h3 class="date">11:00 AM</h3>
              <h3 class="title">PASSION AND PRACTICALITY</h3>
            </div>
            <div class="event">
              <h3 class="date">11:30 AM</h3>
              <h3 class="title">BLOCKCHAIN: BREAKING THE TRADITIONAL CHAIN</h3>
            </div>
            <div class="event">
              <h3 class="date">12:00 PM</h3>
              <h3 class="title">LUNCH</h3>
            </div>
            <div class="event">
              <h3 class="date">1:00 PM</h3>
              <h3 class="title">AFTERNOON PANEL DISCUSSIONS</h3>
            </div>
            <!--<div class="event">-->
              <!--<h3 class="date"></h3>-->
              <!--<h3 class="descripWeb">Technologies to build successful product</h3>-->
              <!--<h3 class="descripMobile">Tech to build successful product</h3>-->
            <!--</div>-->
            <!--<div class="event">-->
              <!--<h3 class="date"></h3>-->
              <!--<h3 class="descripWeb">From students to entrepreneurs</h3>-->
              <!--<h3 class="descripMobile">From students to entrepreneurs</h3>-->
            <!--</div>-->
            <!--<div class="event">-->
              <!--<h3 class="date"></h3>-->
              <!--<h3 class="descripWeb">Growth Hacking: Achieving hockey stick growth</h3>-->
              <!--<h3 class="descripMobile">Growth Hacking: Hockey stick growth</h3>-->
            <!--</div>-->
            <!--<div class="event">-->
              <!--<h3 class="date"></h3>-->
              <!--<h3 class="descripWeb">View full agenda for more topics.</h3>-->
              <!--<h3 class="descripMobile">View full agenda for more topics.</h3>-->
            <!--</div>-->
            <div class="event">
              <h3 class="date">7:00PM</h3>
              <h3 class="title">NETWORKING PARTY</h3>
            </div>
          </div>
        </div>
        <div class="sixteen wide mobile eight wide tablet seven wide computer column">
          <div class="ui raised card">
            <h2>DAY 2, FEBRUARY 24TH</h2>
            <div class="event">
              <h3 class="date">10:00 AM</h3>
              <h3 class="title">CYBERSECURITY: HOW SAFE ARE YOUR ASSETS?</h3>
            </div>
            <div class="event">
              <h3 class="date">10:30 AM</h3>
              <h3 class="title">PIVOT YOUR WAY TO SUCCESS</h3>
            </div>
            <div class="event">
              <h3 class="date">11:00 AM</h3>
              <h3 class="title">FINTECH: BIGGEST FISH IN S.E.A</h3>
            </div>
            <div class="event">
              <h3 class="date">12:00 PM</h3>
              <h3 class="title">LUNCH</h3>
            </div>
            <div class="event">
              <h3 class="date">1:00 PM</h3>
              <h3 class="title">ALIBABA AND THE 163 CHINESE UNICORNS</h3>
            </div>
            <div class="event">
              <h3 class="date">2:00 PM</h3>
              <h3 class="title">BLACK MIRROR: DREAM OR DYSTOPIA</h3>
            </div>
            <!--<div class="event">-->
              <!--<h3 class="date"></h3>-->
              <!--<h3 class="descripWeb">UNICON Arena is a startup pitching competition where <br> <strong>top 10</strong> rising startups by young entrepreneurs will <br> pitch to top investors and walk away with attractive <br> prizes.</h3>-->
              <!--&lt;!&ndash; <h3 class="descripMobile">UNICON Arena is a startup pitching <br> competition where top 10 rising <br>  startups by young entrepreneurs <br> will pitch to top investors and walk <br> away with attractive prizes. Stay <br> tuned for more details.</h3> &ndash;&gt;-->
              <!--<h3 class="descripMobile">UNICON Arena is a startup pitching <br> competition where <strong>top 10</strong> rising <br> startups by young entrepreneurs will <br> pitch to top investors and walk away <br> with attractive prizes.</h3>-->
            <!--</div>-->
            <div class="event">
              <h3 class="date">3:00 PM</h3>
              <h3 class="title">UNICON ARENA</h3>
            </div>
            <div class="event">
              <h3 class="date">5:00 PM</h3>
              <h3 class="title">NETWORKING TEA</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="ui text description container">
        <!--<a href="https://drive.google.com/open?id=1ehNNnmjZPp7Szy45e8ZTPLcDlMaHlCod" class="big ui button">View Full Agenda</a>-->
        <!--<a href="https://drive.google.com/open?id=19lolSDTE6VQvXxOo0QgtYcjyollKUnLh" class="arena big ui button">Learn UNICON Arena</a>-->
        <a href="https://drive.google.com/file/d/1mEfEjaRQDdPGyIjUHsT7ky7E6sDOX9-6/view?usp=sharing" class="arena big ui button">UNICON 2018 Video</a>
      </div>
    </div>

    <div class="ui vertical speakers-section center aligned segment" id="speakers">
      <div class="ui text header container">
        <h1 class="ui header">Speakers for 2019</h1>
      </div>
      <div class="ui middle aligned equal width grid detail container">
        <div class="eight wide mobile four wide tablet four wide computer column">
          <a href="https://www.linkedin.com/in/ajeygore/"><i class="linkedin icon"></i></a>
          <h3 class="name" id="Ajey_Gore">Ajey Gore</h3>
          <h3 class="title">Group CTO</h3>
          <h3 class="company">Go-Jek</h3>
          <img class="ui rounded image" src="/speakers_images/speakers2019/Ajey_Gore.png">
        </div>
        <div class="eight wide mobile four wide tablet four wide computer column">
          <a href="https://www.linkedin.com/in/aik-phong-ng-8b3560/?originalSubdomain=sg"><i class="linkedin icon"></i></a>
          <h3 class="name">Ng Aik Phong</h3>
          <h3 class="title">Managing Director</h3>
          <h3 class="company">Fave</h3>
          <img class="ui rounded image" src="/speakers_images/speakers2019/Aik_Phong_Ng.png">
        </div>
        <div class="eight wide mobile four wide tablet four wide computer column">
          <a href="https://www.linkedin.com/in/arrif-ziaudeen-a72449a/?originalSubdomain=sg"><i class="linkedin icon"></i></a>
          <h3 class="name">Arrif Ziaudeen</h3>
          <h3 class="title">CEO</h3>
          <h3 class="company">Chope</h3>
          <img class="ui rounded image" src="/speakers_images/speakers2019/Arrif_Ziaudeen.png">
        </div>
        <div class="eight wide mobile four wide tablet four wide computer column">
          <a href="https://www.linkedin.com/in/shanru-lai-b671a268/?originalSubdomain=sg"><i class="linkedin icon"></i></a>
          <h3 class="name">Shanru Lai</h3>
          <h3 class="title">Co-Founder</h3>
          <h3 class="company">Shopback</h3>
          <img class="ui rounded image" src="/speakers_images/speakers2019/Shanru_Lai.png">
        </div>
        <div class="eight wide mobile four wide tablet four wide computer column">
          <a href="https://www.linkedin.com/in/julianhosp/?originalSubdomain=sg"><i class="linkedin icon"></i></a>
          <h3 class="name">Dr. Julian Hosp</h3>
          <h3 class="title">Co-Founder</h3>
          <h3 class="company">TenX</h3>
          <img class="ui rounded image" src="/speakers_images/speakers2019/Dr_Julian_Hosp.png">
        </div>
        <div class="eight wide mobile four wide tablet four wide computer column">
          <a href="https://www.linkedin.com/in/mhlints/?originalSubdomain=sg"><i class="linkedin icon"></i></a>
          <h3 class="name">Michael Lints</h3>
          <h3 class="title">Partner</h3>
          <h3 class="company">Golden Gate Ventures</h3>
          <img class="ui rounded image" src="/speakers_images/speakers2019/Michael_Lints.png">
        </div>
        <div class="eight wide mobile four wide tablet four wide computer column">
          <a href="https://www.linkedin.com/in/teck-yong-lim-62141032/?originalSubdomain=sg"><i class="linkedin icon"></i></a>
          <h3 class="name">Lim Teck Yong</h3>
          <h3 class="title">Head of Operations</h3>
          <h3 class="company">Shopee</h3>
          <img class="ui rounded image" src="/speakers_images/speakers2019/Teck_Yong_Lim.png">
        </div>
        <div class="eight wide mobile four wide tablet four wide computer column">
          <a href="https://www.linkedin.com/in/sakhee/"><i class="linkedin icon"></i></a>
          <h3 class="name" id="pankaj">Sakhee Dheer</h3>
          <h3 class="title">Head of Digital, Global<br>Business Marketing</h3>
          <h3 class="company">Facebook</h3>
          <img class="ui rounded image" src="/speakers_images/speakers2019/sakhee_dheer.png">
        </div>
        <div class="eight wide mobile four wide tablet four wide computer column">
          <a href="https://www.linkedin.com/in/chuakelvin/?originalSubdomain=sg"><i class="linkedin icon"></i></a>
          <h3 class="name" id="pankaj">Kelvin Chua</h3>
          <h3 class="title">Head of Product R&D and Infrastructure</h3>
          <h3 class="company">Circles.Life</h3>
          <img class="ui rounded image" src="/speakers_images/speakers2019/Kelvin_Chua.png">
        </div>
        <div class="eight wide mobile four wide tablet four wide computer column">
          <a href="https://www.linkedin.com/in/sagarsarbhai/"><i class="linkedin icon"></i></a>
          <h3 class="name" id="pankaj">Sagar Sarbhai</h3>
          <h3 class="title">Head of Government & Regulatory Relations</h3>
          <h3 class="company">Ripple</h3>
          <img class="ui rounded image" src="/speakers_images/speakers2019/Sagar_Sarbhai.png">
        </div>
        <div class="eight wide mobile four wide tablet four wide computer column">
          <a href="https://www.linkedin.com/in/jupetan/"><i class="linkedin icon"></i></a>
          <h3 class="name" id="pankaj">Jupe Tan</h3>
          <h3 class="title">Managing Partner<br>Asia Pacific</h3>
          <h3 class="company">Plug and Play</h3>
          <img class="ui rounded image" src="/speakers_images/speakers2019/Jupe_Tan.png">
        </div>
      <!--Present Speakers-->
    </div>

  <div class="ui vertical speakers-section center aligned segment" id="speakers">
    <div class="ui text header container">
      <h1 class="ui header">Speakers for 2018</h1>
    </div>
    <div class="ui middle aligned equal width grid detail container">
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://en.wikipedia.org/wiki/Janil_Puthucheary"><i class="linkedin icon"></i></a>
        <h3 class="name" id="janil">Dr Janil Puthucheary</h3>
        <h3 class="title">Senior Minister of State</h3>
        <h3 class="company">MCI &amp; MOE</h3>
        <img class="ui rounded image" src="/speakers_images/janil.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://sg.linkedin.com/in/yodchatri"><i class="linkedin icon"></i></a>
        <h3 class="name">Chatri Sityodtong</h3>
        <h3 class="title">Founder, CEO</h3>
        <h3 class="company">ONE Championship</h3>
        <img class="ui rounded image" src="/speakers_images/chatri.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://www.linkedin.com/in/oliver-tan-277b0127"><i class="linkedin icon"></i></a>
        <h3 class="name">Oliver Tan</h3>
        <h3 class="title">Co-Founder, CEO</h3>
        <h3 class="company">Visenze</h3>
        <img class="ui rounded image" src="/speakers_images/oliver.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://sg.linkedin.com/in/karlmaks"><i class="linkedin icon"></i></a>
        <h3 class="name">Karl Mak</h3>
        <h3 class="title">Co-Founder, CEO</h3>
        <h3 class="company">Hepmil (SGAG &amp; MGAG)</h3>
        <img class="ui rounded image" src="/speakers_images/karl.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://sg.linkedin.com/in/rachel-lim-25b3b262"><i class="linkedin icon"></i></a>
        <h3 class="name">Rachel Lim</h3>
        <h3 class="title">Co-Founder, CEO</h3>
        <h3 class="company">Love, Bonito</h3>
        <img class="ui rounded image" src="/speakers_images/rachel.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://sg.linkedin.com/in/dionesong"><i class="linkedin icon"></i></a>
        <h3 class="name" id="dione">Dione Song</h3>
        <h3 class="title">Chief Commercial Officer</h3>
        <h3 class="company">Love, Bonito</h3>
        <img class="ui rounded image" src="/speakers_images/dione.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://www.linkedin.com/in/oziamanat/"><i class="linkedin icon"></i></a>
        <h3 class="name">Ozi Amanat</h3>
        <h3 class="title">Founding Partner</h3>
        <h3 class="company">K2 Global VC</h3>
        <img class="ui rounded image" src="/speakers_images/ozi.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://sg.linkedin.com/in/sgjames"><i class="linkedin icon"></i></a>
        <h3 class="name">James Tan</h3>
        <h3 class="title">Managing Partner</h3>
        <h3 class="company">Quest Ventures</h3>
        <img class="ui rounded image" src="/speakers_images/james.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://sg.linkedin.com/in/vincentlauria"><i class="linkedin icon"></i></a>
        <h3 class="name">Vinnie Lauria</h3>
        <h3 class="title">Founding Partner</h3>
        <h3 class="company">Golden Gate Ventures</h3>
        <img class="ui rounded image" src="/speakers_images/vinnie.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://sg.linkedin.com/in/saeminahn"><i class="linkedin icon"></i></a>
        <h3 class="name">Saemin Ahn</h3>
        <h3 class="title">Managing Partner</h3>
        <h3 class="company">Rakuten Ventures</h3>
        <img class="ui rounded image" src="/speakers_images/saemin.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://sg.linkedin.com/in/albertshyy"><i class="linkedin icon"></i></a>
        <h3 class="name" id="jacopo">Albert Shyy</h3>
        <h3 class="company">Principal<br>Burda Principal Investments</h3>
        <img class="ui rounded image" src="/speakers_images/albert.png">
      </div>

      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://sg.linkedin.com/in/praveenvelu"><i class="linkedin icon"></i></a>
        <h3 class="name">Praveen Velu</h3>
        <h3 class="title">Co-founder, CEO</h3>
        <h3 class="company">Evie.ai</h3>
        <img class="ui rounded image" src="/speakers_images/praveen.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://sg.linkedin.com/in/pkhushani"><i class="linkedin icon"></i></a>
        <h3 class="name" id="pankaj">Pankaj khushani</h3>
        <h3 class="title">Head of Analytics &amp; <br>Platform Partnership SEA</h3>
        <h3 class="company">Google</h3>
        <img class="ui rounded image" src="/speakers_images/pankaj.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://sg.linkedin.com/in/dfallarme"><i class="linkedin icon"></i></a>
        <h3 class="name" id="jacopo">David Fallarme</h3>
        <h3 class="title">Senior Marketing Manager</h3>
        <h3 class="company">Hubspot</h3>
        <img class="ui rounded image" src="/speakers_images/david.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://sg.linkedin.com/in/abhilashmurthy"><i class="linkedin icon"></i></a>
        <h3 class="name">Abhilash Murthy</h3>
        <h3 class="title">Founder,CEO</h3>
        <h3 class="company">Bus Uncle</h3>
        <img class="ui rounded image" src="/speakers_images/abhil.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://sg.linkedin.com/in/kenneth-lou"><i class="linkedin icon"></i></a>
        <h3 class="name">Kenneth Lou</h3>
        <h3 class="title">Co-founder, CEO</h3>
        <h3 class="company">Seedly</h3>
        <img class="ui rounded image" src="/speakers_images/kenneth.png">
      </div>

      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://www.linkedin.com/in/shaundjie"><i class="linkedin icon"></i></a>
        <h3 class="name">Shaun Djie</h3>
        <h3 class="title">Co-founder</h3>
        <h3 class="company">DigixGlobal</h3>
        <img class="ui rounded image" src="/speakers_images/shaun.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://sg.linkedin.com/in/bjornlee"><i class="linkedin icon"></i></a>
        <h3 class="name">Bjorn Lee</h3>
        <h3 class="title">Founder & CEO</h3>
        <h3 class="company">MindFi</h3>
        <img class="ui rounded image" src="/speakers_images/bjorn.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://www.linkedin.com/in/jacopodaeli/"><i class="linkedin icon"></i></a>
        <h3 class="name" id="jacopo">Jacopo Daeli</h3>
        <h3 class="title">Senior Software Engineer</h3>
        <h3 class="company">GoDaddy</h3>
        <img class="ui rounded image" src="/speakers_images/jacopo.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://www.linkedin.com/in/anna-rehermann-a1599529/"><i class="linkedin icon"></i></a>
        <h3 class="name">Anna Rehermann</h3>
        <h3 class="title">Founder</h3>
        <h3 class="company">Growth Hacking Asia</h3>
        <img class="ui rounded image" src="/speakers_images/anna.png">
      </div>
    </div>
    <!--Past Speakers-->
  </div>


  <div class="ui vertical partners-section center aligned segment" id="partners">
    <div class="ui text header container">
      <h1 class="ui header">Key Partners for 2018</h1>
    </div>
    <div class="ui text description container">
      <h3>Industry-defining brands that have helped make UNICON into what it is today.
      </h3>
    </div>

    <div class="ui center aligned equal width grid primary detail container">
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/enterprise.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/nyc.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/gefa.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/fave.png">
      </div>
    </div>

    <div class="ui text secondary description container">
      <h3>Talents from region's top universities will be joining us.</h3>
    </div>

    <div class="ui center aligned equal width grid secondary detail container">
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/nus.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/ntu.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/hkust.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/kaist.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/tsinghua.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/peking.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/seoul.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/tokyo.png">
      </div>
    </div>

    <div class="ui text secondary description container">
      <h3>Our lovely community partners</h3>
    </div>

    <div class="ui center aligned equal width grid secondary detail container">
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="http://enterprise.nus.edu.sg"><img class="ui image" src="/speakers_images/enterprise.png"></a>
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://sg.alphacamp.co"><img class="ui image" src="/speakers_images/ac.png"></a>
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="http://thehive.sg"><img class="ui image" src="/speakers_images/hive.png"></a>
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://www.questventures.com"><img class="ui image" src="/speakers_images/quest.png"></a>
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="http://www.startupjobs.asia"><img class="ui image" src="/speakers_images/sja.png"></a>
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://dailysocial.id"><img class="ui image" src="/speakers_images/dsi.png"></a>
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="http://kolaborasi.co"><img class="ui image" src="/speakers_images/kola.png"></a>
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="http://www.unframed.so"><img class="ui image" src="/speakers_images/unframed.png"></a>
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="http://www.cnclv.co"><img class="ui image" src="/speakers_images/conclave.png"></a>
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://www.collision8.com"><img class="ui image" src="/speakers_images/collison.png"></a>
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://geekhunter.co"><img class="ui image" src="/speakers_images/geek.png"></a>
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://sponslist.com"><img class="ui image" src="/speakers_images/sponslist.png"></a>
      </div>
    </div>

  </div>




  <div class="ui vertical pricing-section center aligned segment" id="pricing">

    <div class="ui text header container">
      <h1 class="ui header">Pricing</h1>
    </div>

    <div class="ui center aligned equal width content grid container">
      <div class="sixteen wide mobile five wide tablet five wide computer column">
        <div class="ui raised card">
          <h2>Current Students</h2>
          <h4>For All Current Students </h4>
          <!--<h5>EARLY BIRD SPECIAL : S$30<br>UNICON PARTNER SPECIAL : S$25</h5>-->
          <h1>S$50</h1>
          <a href="https://www.eventbrite.sg/e/unicon-2019-asias-craziest-student-entrepreneurship-conference-tickets-51752259401?aff=ebdssbdestsearch" class="eb"><h3>Early bird</h3></a>
          <a href="https://www.eventbrite.sg/e/unicon-2019-asias-craziest-student-entrepreneurship-conference-tickets-51752259401?aff=ebdssbdestsearch" class="ui button" id="register">Register Now</a>
        </div>
      </div>
      <div class="sixteen wide mobile five wide tablet five wide computer column">
        <div class="ui raised card">
          <h2>Recent Graduates</h2>
          <h4>Class of 2016 Onwards</h4>
          <h1>S$100</h1>
          <a href="https://www.eventbrite.sg/e/unicon-2019-asias-craziest-student-entrepreneurship-conference-tickets-51752259401?aff=ebdssbdestsearch" class="eb"><h3>Early bird</h3></a>
          <a href="https://www.eventbrite.sg/e/unicon-2019-asias-craziest-student-entrepreneurship-conference-tickets-51752259401?aff=ebdssbdestsearch" class="ui button" id="register">Register Now</a>
        </div>
      </div>
      <div class="sixteen wide mobile five wide tablet five wide computer column">
        <div class="ui raised card">
          <h2>Public</h2>
          <h4>Open to all working adults</h4>
          <h1>S$140</h1>
          <a href="https://www.eventbrite.sg/e/unicon-2019-asias-craziest-student-entrepreneurship-conference-tickets-51752259401?aff=ebdssbdestsearch" class="eb"><h3>Early bird</h3></a>
          <a href="https://www.eventbrite.sg/e/unicon-2019-asias-craziest-student-entrepreneurship-conference-tickets-51752259401?aff=ebdssbdestsearch" class="ui button" id="register">Register Now</a>
        </div>
      </div>
    </div>

  </div>

  <div class="ui vertical venue-section segment" id="venue">

    <div class="ui middle aligned grid">
      <div class="row">
        <div class="sixteen wide mobile sixteen wide tablet eight wide computer column" id="image">
          <img class="ui image" src="/speakers_images/utown.jpg">
        </div>
        <div class="sixteen wide mobile sixteen wide tablet eight wide computer column" id="location">
          <div class="ui center aligned location text">
            <h2>Feb 23 - 24, 2019</h2>
            <h2>University Town</h2>
            <h2>NUS, Singapore</h2>
          </div>
          <div id="map">
            <script>
            function initMap() {
              var utown = {lat: 1.304601, lng: 103.772312};
              var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 16,
                center: utown
              });
              var marker = new google.maps.Marker({
                position: utown,
                map: map
              });
            }
            </script>
            <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqWtxeZ7ffilrlXfCQYXVU80u2ddp22dM&callback=initMap">
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui vertical contact-section segment">
    <div class="ui text center aligned header container">
      <h1 class="ui header">What's next?</h1>
    </div>

    <div class="ui text center aligned update container">
      <h3>We announce updates via email first. Leave your address to be the first to know.</h3>
      <form id="gform" method="POST" action="https://script.google.com/a/nes.org.sg/macros/s/AKfycbxLtkCBQcdIGnu4W9KmoTJCncyCwQhi3tENyxRfPmiV00pjl1Bg/exec">
        <div class="ui action input">
          <input type="text" name="email" placeholder="Email">
          <button class="ui button" type="submit">Apply</button>
        </div>
      </form>
      <div style="display:none;" id="thankyou_message">
        <h2>Thanks! We will update you soon.</h2>
      </div>
      <!-- <div class="ui action input">
      <input type="text" name="email" placeholder="Email">
      <button class="ui button" type="submit">Apply</button>
    </div> -->
    <!-- <form method="POST" action="https://formspree.io/sotwlgh@gmail.com">
    <div class="ui action input">
    <input type="text" name="email" placeholder="Email">
    <button class="ui button" type="submit">Apply Now</button>
  </div>
</form> -->
</div>

<div class="ui text center aligned contact-header container">
  <h1 class="ui header">Get in touch</h1>
</div>

<div class="ui text center aligned description container">
  <h3>Have some additional questions? Contact us at <a href="mailto:unicon@nes.org.sg?Subject=Hello%20UNICON2018" target="_top">unicon@nes.org.sg</a></h3>
</div>

</div>

<div class="ui inverted vertical footer segment">
  <div class="ui stackable inverted grid">
    <div class="four wide column" id="logo">
      <h4 class="ui inverted header">©UNICON 2019</h4>
    </div>
    <div class="eight wide column" id="comment">
      <div class="ui text container">
        <h4 class="ui inverted header">Brought to you by NES Global</h4>
      </div>
    </div>
    <div class="four wide column" id="social">
      <div class="ui text container">
        <a href="https://www.facebook.com/unicon2018sg/"><i class="facebook f icon"></i></a>
        <a href="https://www.linkedin.com/company/13457301/"><i class="linkedin icon"></i></a>
      </div>
    </div>
  </div>
</div>

</div>

<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108295260-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments)};
gtag('js', new Date());

gtag('config', 'UA-108295260-1');
</script>
<script data-cfasync="false" type="text/javascript" src="https://cdn.rawgit.com/dwyl/html-form-send-email-via-google-script-without-server/master/form-submission-handler.js"></script>

</body>

</html>
