<!DOCTYPE html>
<html>
<head>
  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130791774-1"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-130791774-1');
  </script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=0.7">
  <meta name="description" content="Asia's first global entrepreneurship conference for students by students with the aim to connect student entrepreneurs all over the world and create a global network of innovators.">
  <meta name="google-site-verification" content="_XWasFf_fuvdHpZ1c8CP4t_NV4coS6uYbn9vKzuBiqg" />
  <title>Asia's craziest startup conference for students by students - UNICON 2019</title>
  <link rel="icon" type="image/png" href="/speakers_images/favicon.png" sizes="48x48">
  <link rel="stylesheet" type="text/css" href="dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/unicon.css">
  <!-- Facebook Pixel Code -->
  <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};
          if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
          n.queue=[];t=b.createElement(e);t.async=!0;
          t.src=v;s=b.getElementsByTagName(e)[0];
          s.parentNode.insertBefore(t,s)}(window, document,'script',
          'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '748463218657549');
      fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
                 src="https://www.facebook.com/tr?id=748463218657549&ev=PageView&noscript=1"
    /></noscript>
  <!-- End Facebook Pixel Code -->

  </head>

  <body>

    <script>
      fbq('track', 'CompleteRegistration');
    </script>

    <div class="ui inverted vertical header-section center aligned segment">
      <div class="ui text container">
        <!-- <video src="/speakers_images/please.mp4" autoplay poster="/speakers_images/please.mp4">
      </video> -->
      <img class="ui image" id="gif" src="/speakers_images/bangg.gif">
      <img class="ui image" id="logo" src="/speakers_images/uniconLogoBig.png">
      <h1 id="first">Creating the unicorns of tomorrow</h1>
      <!-- <h1 id="fisrt">Asia's Craziest Collegiate Entrepreneurship Conference</h1> -->
      <h1 id="second">CRAZIEST</h1>
      <h1 id="third">Student Conference on Tech and Entrepreneurship</h1>
      <h2 id="date">Feb 23 - 24, 2019 @NUS, Singapore</h2>
      <!-- <h2>NUS, Singapore</h2> -->
    </div>
  </div>

  <div class="ui borderless center aligned inverted main secondary menu">
    <div href="#" class="header item">
      <img class="ui image" src="/speakers_images/uniconlogo2019.png">
    </div>
    <div class="ui center aligned text container">
      <a class="item" id="about" href="#about">About</a>
      <a class="item" id="agenda" href="#agenda">Agenda</a>
      <a class="item" id="speakers" href="#speakers">Speakers</a>
      <a class="item" id="pricing" href="#pricing">Pricing</a>
      <a class="item" id="partners" href="#partners">Partners</a>
      <a class="item" id="arena" href="#arena">Arena</a>
      <a class="item" id="venue" href="#venue">Details</a>
      <a class="item" id="contact">Contact</a>
    </div>
    <div class="right item">
      <!-- <a href="https://www.eventbrite.sg/e/unicon-2018-tickets-39138383960" class="ui button">Register</a> -->
      <i class="sidebar icon"></i>
    </div>
  </div>

  <div class="modal" id="side_bar">
    <div class="modal-content">
      <i class="remove icon"></i>
      <div class="ui list">
        <div class="item" id="about">About</div>
        <div class="item" id="agenda">Agenda</div>
        <div class="item" id="speakers">Speakers</div>
        <div class="item" id="pricing">Pricing</div>
        <div class="item" id="partners">Partners</div>
        <div class="items" id="arena">Arena</div>
        <div class="item" id="venue">Venue</div>
        <div class="item" id="contact">Contact</div>
      </div>
    </div>
  </div>

  <div class="ui basic modal" id="promo">
    <i class="close icon"></i>
    <h1 class="ui header">Eligibility Criteria:</h1>
    <h2 class="ui header">UNICON 2019 Tickets have to be purchased for all arena participants to be eligible for Unicon Arena.</h2>
  </div>

  <div class="ui vertical about-section center aligned segment" id="about">
    <div class="ui text header container">
      <h1 class="ui header" id="eventDate">Feb 23rd - 24th 2019</h1>
      <h1 class="ui header" id="eventVenue">NUS, Singapore</h1>
    </div>
    <div class="ui text detail container">
      <h3>UNICON 2019 is a two–day conference that serves to unite international student entrepreneurs, prominent founders,
        industry experts and venture capitalists. Each year, outstanding young entrepreneurs from across Asia are gathered, challenged and inspired through our activities line-up.
        Hurry and buy tickets for UNICON 2019!
      </h3>
    </div>
  </div>

    <div class="ui vertical agenda-section center aligned segment" id="agenda">
      <div class="ui text header container">
        <h1 class="ui header">Agenda for 2019</h1>
      </div>

      <div class="ui center aligned content grid container">
        <div class="sixteen wide mobile eight wide tablet seven wide computer column">
          <div class="ui raised card">
            <h2>DAY 1, FEBRUARY 23RD</h2>
            <div class="event">
              <h3 class="date">9:00 AM</h3>
              <h3 class="title">REGISTRATION</h3>
            </div>
            <div class="event">
              <h3 class="date">10:00 AM</h3>
              <h3 class="title">WELCOME KEYNOTE</h3>
            </div>
            <div class="event">
              <h3 class="date">10:30 AM</h3>
              <h3 class="title">UNICON’S STORY</h3>
            </div>
            <div class="event">
              <h3 class="date">11:00 AM</h3>
              <h3 class="title">ENTREPRENEURSHIP VS CORPORATE</h3>
            </div>
            <div class="event">
              <h3 class="date">12:00 PM</h3>
              <h3 class="title">LUNCH</h3>
            </div>
            <div class="event">
              <h3 class="date">1:00 PM</h3>
              <h3 class="title">SOUTHEAST ASIA INTERNET ECONOMY<br>TECHNOLOGIES OF THE FUTURE, TODAY.<br>SINGAPORE AS A STARTUP LAUNCHPAD IN SEA<br>BLOCKCHAIN: CRYPTO & BEYOND<br>FOUNDER'S STORY</h3>
            </div>
            <div class="event">
              <h3 class="date">7:00PM</h3>
              <h3 class="title">NETWORKING PARTY</h3>
            </div>
          </div>
        </div>
        <div class="sixteen wide mobile eight wide tablet seven wide computer column">
          <div class="ui raised card">
            <h2>DAY 2, FEBRUARY 24TH</h2>
            <div class="event">
              <h3 class="date">10:00 AM</h3>
              <h3 class="title">MAKING SENSE OF BIG DATA IN THE DIGITAL AGE</h3>
            </div>
            <div class="event">
              <h3 class="date">10:30 AM</h3>
              <h3 class="title">BLUE OCEAN STRATEGY</h3>
            </div>
            <div class="event">
              <h3 class="date">11:30 AM</h3>
              <h3 class="title">FINANCIAL INCLUSIVENESS WITH FINTECH IN S.E.A</h3>
            </div>
            <div class="event">
              <h3 class="date">12:00 PM</h3>
              <h3 class="title">LUNCH</h3>
            </div>
            <div class="event">
              <h3 class="date">2:00 PM</h3>
              <h3 class="title">BLITZSCALING: BUILDING A UNICON</h3>
            </div>
            <div class="event">
              <h3 class="date">2:30 PM</h3>
              <h3 class="title">GROWTH HACKING IN THE REGION</h3>
            </div>
            <div class="event">
              <h3 class="date">3:30 PM</h3>
              <h3 class="title">UNICON ARENA</h3>
            </div>
            <div class="event">
              <h3 class="date">5:00 PM</h3>
              <h3 class="title">END OF DAY 2</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ui text description container">
      <a href="https://drive.google.com/file/d/1CgaPKl7cB_rwk-apI2Y-EnqiO22-mv4g/view?usp=sharing" class="ui animated button" id="full-agenda">
        <div class="visible content">View Full Agenda</div>
        <div class="hidden content"><i class="list icon"></i></div>
      </a>
    </div>
    <br>
    <div class="ui text description container">
      <a href="https://drive.google.com/file/d/1mEfEjaRQDdPGyIjUHsT7ky7E6sDOX9-6/view?usp=sharing" class="ui animated button" id="video">
        <div class="visible content">UNICON 2018 Video</div>
        <div class="hidden content"><i class="play icon"></i></div>
      </a>
    </div>

    <div class="ui vertical speakers-section center aligned segment" id="speakers">
      <div class="ui text header container">
        <h1 class="ui header">Speakers for 2019</h1>
      </div>
      <div class="ui middle aligned equal width grid detail container">
        <div class="eight wide mobile four wide tablet four wide computer column">
          <h3 class="info"><div class="name">Chee Hong Tat</div><br>Senior Minister of State<br>MTI & MOE</h3>
          <img class="ui rounded image" src="/speakers_images/speakers2019/Chee_Hong_Tat.png">
        </div>
        <div class="eight wide mobile four wide tablet four wide computer column">
          <a href="https://www.linkedin.com/in/ajeygore/"><i class="linkedin icon"></i></a>
          <h3 class="info"><div class="name" id="no_warp">Ajey Gore</div><br>Group CTO<br>Go-Jek</h3>
          <img class="ui rounded image" src="/speakers_images/speakers2019/Ajey_Gore.png">
        </div>
        <div class="eight wide mobile four wide tablet four wide computer column">
          <a href="https://www.linkedin.com/in/aik-phong-ng-8b3560/?originalSubdomain=sg"><i class="linkedin icon"></i></a>
          <h3 class="info"><div class="name">Ng Aik Phong</div><br>Managing Director<br>Fave</h3>
          <img class="ui rounded image" src="/speakers_images/speakers2019/Aik_Phong_Ng.png">
        </div>
        <div class="eight wide mobile four wide tablet four wide computer column">
          <a href="https://www.linkedin.com/in/arrif-ziaudeen-a72449a/?originalSubdomain=sg"><i class="linkedin icon"></i></a>
          <h3 class="info"><div class="name" id="no_warp">Arrif Ziaudeen</div><br>CEO & Founder<br>Chope</h3>
          <img class="ui rounded image" src="/speakers_images/speakers2019/Arrif_Ziaudeen.png">
        </div>
        <div class="eight wide mobile four wide tablet four wide computer column">
          <a href="https://www.linkedin.com/in/shanru-lai-b671a268/?originalSubdomain=sg"><i class="linkedin icon"></i></a>
          <h3 class="info"><div class="name" id="no_warp">Shanru Lai</div><br>Co-Founder<br>Shopback</h3>
          <img class="ui rounded image" src="/speakers_images/speakers2019/Shanru_Lai.png">
        </div>
        <div class="eight wide mobile four wide tablet four wide computer column">
          <a href="https://www.linkedin.com/in/jeffrey-chua-029206107/?originalSubdomain=sg"><i class="linkedin icon"></i></a>
          <h3 class="info"><div class="name">Jeffery Chua</div><br>Associate<br>Golden Gate Ventures</h3>
          <img class="ui rounded image" src="/speakers_images/speakers2019/Jeffery_Chua.png">
        </div>
        <div class="eight wide mobile four wide tablet four wide computer column">
          <a href="https://www.linkedin.com/in/teck-yong-lim-62141032/?originalSubdomain=sg"><i class="linkedin icon"></i></a>
          <h3 class="info"><div class="name" id="no_warp">Lim Teck Yong</div><br>Head of Operations<br>Shopee</h3>
          <img class="ui rounded image" src="/speakers_images/speakers2019/Teck_Yong_Lim.png">
        </div>
        <div class="eight wide mobile four wide tablet four wide computer column">
          <a href="https://www.linkedin.com/in/sakhee/"><i class="linkedin icon"></i></a>
          <h3 class="info"><div class="name">Sakhee Dheer</div><br>Head of Digital, Global Business Marketing<br>Facebook</h3>
          <img class="ui rounded image" src="/speakers_images/speakers2019/sakhee_dheer.png">
        </div>
        <div class="eight wide mobile four wide tablet four wide computer column">
          <a href="https://www.linkedin.com/in/hyungbinkim/"><i class="linkedin icon"></i></a>
          <h3 class="info"><div class="name">Danny Kim</div><br>APAC Central Strategy Planning Principal<br>Google</h3>
          <img class="ui rounded image" src="/speakers_images/speakers2019/Hyungbin_Danny_kim.png">
        </div>
        <div class="eight wide mobile four wide tablet four wide computer column">
          <a href="https://www.linkedin.com/in/chuakelvin/?originalSubdomain=sg"><i class="linkedin icon"></i></a>
          <h3 class="info"><div class="name">Kelvin Chua</div><br>Head of Product R&D and Infrastructure<br>Circles.Life</h3>
          <img class="ui rounded image" src="/speakers_images/speakers2019/Kelvin_Chua.png">
        </div>
        <div class="eight wide mobile four wide tablet four wide computer column">
          <a href="https://www.linkedin.com/in/sagarsarbhai/"><i class="linkedin icon"></i></a>
          <h3 class="info"><div class="name">Sagar Sarbhai</div><br>Head of Government & Regulatory Relations<br>Ripple</h3>
          <img class="ui rounded image" src="/speakers_images/speakers2019/Sagar_Sarbhai.png">
        </div>
        <div class="eight wide mobile four wide tablet four wide computer column">
          <a href="https://www.linkedin.com/in/jupetan/"><i class="linkedin icon"></i></a>
          <h3 class="info"><div class="name">Jupe Tan</div><br>Managing Partner Asia Pacific<br>Plug and Play</h3>
          <img class="ui rounded image" src="/speakers_images/speakers2019/Jupe_Tan.png">
        </div>
        <div class="eight wide mobile four wide tablet four wide computer column">
          <a href="https://www.linkedin.com/in/yanphun/"><i class="linkedin icon"></i></a>
          <h3 class="info"><div class="name" id="no_warp">Yan Phun</div><br>COO<br>99.co</h3>
          <img class="ui rounded image" src="/speakers_images/speakers2019/Yan_Phun.png">
        </div>
        <div class="eight wide mobile four wide tablet four wide computer column">
          <a href="https://www.linkedin.com/in/david-fowler-b8b32268/"><i class="linkedin icon"></i></a>
          <h3 class="info"><div class="name">David Fowler</div><br>Director<br>PwC Singapore's Venture Hub</h3>
          <img class="ui rounded image" src="/speakers_images/speakers2019/David_Fowler.png">
        </div>
        <div class="eight wide mobile four wide tablet four wide computer column">
          <a href="https://www.linkedin.com/in/tkelvin/?originalSubdomain=sg"><i class="linkedin icon"></i></a>
          <h3 class="info"><div class="name">Kelvin Teo</div><br>CEO & Co-Founder<br>Funding Societies</h3>
          <img class="ui rounded image" src="/speakers_images/speakers2019/Kelvin_Teo.png">
        </div>
        <div class="eight wide mobile four wide tablet four wide computer column">
          <a href="https://www.linkedin.com/in/mohanbelani/"><i class="linkedin icon"></i></a>
          <h3 class="info"><div class="name" id="no_warp">Mohan Belani</div><br>CEO & Co-Founder<br>e27</h3>
          <img class="ui rounded image" src="/speakers_images/speakers2019/mohan_belani.png">
        </div>
        <div class="eight wide mobile four wide tablet four wide computer column">
          <a href="https://www.linkedin.com/in/doug-parker-949ab81/?originalSubdomain=sg"><i class="linkedin icon"></i></a>
          <h3 class="info"><div class="name" id="no_warp">Doug Parker</div><br>COO<br>nuTonomy</h3>
          <img class="ui rounded image" src="/speakers_images/speakers2019/doug_parker.png">
        </div>
        <div class="eight wide mobile four wide tablet four wide computer column">
          <a href="https://www.linkedin.com/in/sarveenchester/"><i class="linkedin icon"></i></a>
          <h3 class="info"><div class="name" id="no_warp">Sarveen Chester</div><br>Growth Launcher<br>Revolut</h3>
          <img class="ui rounded image" src="/speakers_images/speakers2019/sarveen_ chester.png">
        </div>
      <!--Present Speakers-->
    </div>

      <div class="ui vertical pricing-section center aligned segment" id="pricing">

        <div class="ui text header container">
          <h1 class="ui header">Pricing</h1>
        </div>

        <div class="ui center aligned equal width content grid container">
          <div class="sixteen wide mobile five wide tablet five wide computer column">
            <div class="ui raised card">
              <h2>Students</h2>
              <h4>Currently enrolled in any University</h4>
              <h1>S$50</h1>
              <a class="eb"><h3>Early bird</h3></a>
              <a class="ui animated vertical button"  href="https://www.eventbrite.sg/e/unicon-2019-asias-craziest-student-entrepreneurship-conference-tickets-51752259401?aff=ebdssbdestsearch" tabindex="0">
                <div class="visible content"><h2>Register Now</h2></div>
                <div class="hidden content"><i class="shopping cart icon"></i></div>
              </a>
            </div>
          </div>
          <div class="sixteen wide mobile five wide tablet five wide computer column">
            <div class="ui raised card">
              <h2>Recent Graduates</h2>
              <h4>Class of 2016 Onwards</h4>
              <h1>S$100</h1>
              <a class="eb"><h3>Early bird</h3></a>
              <a class="ui animated vertical button" href="https://www.eventbrite.sg/e/unicon-2019-asias-craziest-student-entrepreneurship-conference-tickets-51752259401?aff=ebdssbdestsearch">
                <div class="visible content"><h2>Register Now</h2></div>
                <div class="hidden content"><i class="shopping cart icon"></i></div>
              </a>
            </div>
          </div>
          <div class="sixteen wide mobile five wide tablet five wide computer column">
            <div class="ui raised card">
              <h2>Public</h2>
              <h4>Open to all working adults</h4>
              <h1>S$140</h1>
              <a class="eb"><h3>Early bird</h3></a>
              <a class="ui animated vertical button" href="https://www.eventbrite.sg/e/unicon-2019-asias-craziest-student-entrepreneurship-conference-tickets-51752259401?aff=ebdssbdestsearch">
                <div class="visible content"><h2>Register Now</h2></div>
                <div class="hidden content"><i class="shopping cart icon"></i></div>
              </a>
            </div>
          </div>
        </div>
      </div>

  <div class="ui vertical partners-section center aligned segment" id="partners">
    <div class="ui text header container">
      <h1 class="ui header">Key Sponsors for 2019</h1>
    </div>
    <div class="ui text description container">
      <h3>Industry-defining brands that have helped make UNICON into what it is today.
      </h3>
    </div>

    <div class="ui center aligned equal width grid primary detail container">
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/imda.jpg">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/tesa.jpg">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://www.upcodeacademy.com/"><img class="ui image" src="/speakers_images/ua.png"></a>

      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/xmd.jpg">
      </div>
    </div>

    <div class="ui text secondary description container">
      <h3>Talents from region's top universities will be joining us.</h3>
    </div>

    <div class="ui center aligned equal width grid secondary detail container">
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/nus.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/ntu.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/SMU.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/SUTD.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/SIM.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/sit.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/Curtin.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/university_sydney.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/hkust.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/UPD.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/UTM.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/kaist.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/UB.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/tsinghua.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/peking.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/seoul.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/tokyo.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/nucb.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/RJC.jpg">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/tp.png">
      </div>
    </div>

    <div class="ui text secondary description container">
      <h3>Our lovely community partners</h3>
    </div>

    <div class="ui center aligned equal width grid secondary detail container">
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="http://enterprise.nus.edu.sg"><img class="ui image" src="/speakers_images/enterprise.png"></a>
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui image" src="/speakers_images/innoway.png">
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="http://www.startupjobs.asia"><img class="ui image" src="/speakers_images/sja.png"></a>
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://geekhunter.co"><img class="ui image" src="/speakers_images/geek.png"></a>
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://launchcampus.co"><img class="ui image" src="/speakers_images/launch_campus.png"></a>
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://ace.org.sg/"><img class="ui image" src="/speakers_images/ace.png"></a>
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://l3.work/"><img class="ui image" src="/speakers_images/lvl3.png"></a>
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://www.themox.co/"><img class="ui image" src="/speakers_images/mox.png"></a>
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://www.raise.sg/"><img class="ui image" src="/speakers_images/raise.png"></a>
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="http://thecompany.jp/en/"><img class="ui image" src="/speakers_images/thecompany.PNG"></a>
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://www.reactor.school/"><img class="ui image" src="/speakers_images/reactor.png"></a>
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://www.trive.vc/"><img class="ui image" src="/speakers_images/trive.png"></a>
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://tribeaccelerator.co/"><img class="ui image" src="/speakers_images/tribe.png"></a>
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://protege.vc/"><img class="ui image" src="/speakers_images/protege.jpg"></a>
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <a href="https://singapore.tie.org/"><img class="ui image" src="/speakers_images/tie.png"></a>
      </div>
    </div>
  </div>

  <a name="arena"></a>
  <div class="ui vertical arena-section segment" id="arena">
    <div class="ui text header container">
      <h1 class="ui header">Arena</h1>
    </div>
    <div class="ui center aligned arena container">
      <div class="centered image">
        <img class="ui rounded image" src="/speakers_images/arena.jpg">
        <h1 class="ui header">BRINGING YOUR START-UP IDEAS TO LIFE</h1>
        <h1 class="ui header" id="arena_closed">Registration Period for UNICON Arena has Ended!</h1>
      </div>
    </div>
  </div>

  <div class="ui vertical venue-section segment" id="venue">

    <div class="ui middle aligned grid">
      <div class="row">
        <div class="sixteen wide mobile sixteen wide tablet eight wide computer column" id="image">
          <img class="ui image" src="/speakers_images/utown.jpg">
        </div>
        <div class="sixteen wide mobile sixteen wide tablet eight wide computer column" id="location">
          <div class="ui center aligned location text">
            <h2>Feb 23 - 24, 2019</h2>
            <h2>University Town</h2>
            <h2>NUS, Singapore</h2>
          </div>
          <div id="map">
            <script>
            function initMap() {
              var utown = {lat: 1.304601, lng: 103.772312};
              var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 16,
                center: utown
              });
              var marker = new google.maps.Marker({
                position: utown,
                map: map
              });
            }
            </script>
            <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqWtxeZ7ffilrlXfCQYXVU80u2ddp22dM&callback=initMap">
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui vertical contact-section segment">
    <div class="ui text center aligned header container">
      <h1 class="ui header">Want to volunteer?</h1>
    </div>

    <div class="ui text center aligned update container">
      <h3>Fill up the application form below!</h3>
      <br>
      <form id="gform" class = "ui form" method="POST" action="https://script.google.com/macros/s/AKfycbw-bzZ2jh-hguRldI2lTo4h6wMO5KIfnypWKvkHdOn6Xfm_Xg/exec">
        <div class="field">
          <label><h3><b>Full Name:</b></h3></label>
          <input type="text" name="name" placeholder="Name" required="required">
        </div>
        <div class="field">
          <label><h3><b>Contact Number(Singapore Only):</b></h3></label>
          <input type="number" name="phno" placeholder="Handphone Number" required="required">
          <br><br><br>
          <label><h4>Note: we will be using your contact no for communication purposes (via WhatsApp)!</h4></label>
        </div>
        <br>
        <button class="ui animated button" type="submit">
          <div class="visible content"><h2>Submit</h2></div>
          <div class="hidden content"><i class="check icon"></i></div>
        </button>
      </form>
      <div style="display:none;" id="thankyou_message">
        <h2>Thanks! We will update you soon.</h2>
      </div>
</div>

<div class="ui text center aligned contact-header container">
  <h1 class="ui header">Get in touch</h1>
</div>

<div class="ui text center aligned description container">
  <h3>Have some additional questions? Contact us at <a href="mailto:unicon@nes.org.sg?Subject=Hello%20UNICON2019" target="_top">unicon@nes.org.sg</a></h3>
</div>

</div>

<div class="ui inverted vertical footer segment">
  <div class="ui stackable inverted grid">
    <div class="four wide column" id="logo">
      <h4 class="ui inverted header">©UNICON 2019</h4>
    </div>
    <div class="eight wide column" id="comment">
      <div class="ui text container">
        <h4 class="ui inverted header">Brought to you by NUS Entrepreneurship Society</h4>
        <img class="ui centered image" src="/speakers_images/nes_logo.png">
      </div>
    </div>
    <div class="four wide column" id="social">
      <div class="ui text container">
        <a href="https://www.facebook.com/unicon2019sg/"><i class="facebook f icon"></i></a>
        <a href="https://www.linkedin.com/company/13457301/"><i class="linkedin icon"></i></a>
      </div>
    </div>
  </div>
</div>

</div>
<script data-cfasync="false" type="text/javascript" src="https://cdn.rawgit.com/dwyl/html-form-send-email-via-google-script-without-server/master/form-submission-handler.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="dist/semantic.min.js"></script>
    <script src="scripts/transition.js"></script>
    <script src="scripts/visibility.js"></script>
    <script src="scripts/event.js"></script>
    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/18e5e8207c24a2ac3d1322dfd/b0b2af28ab12eb69871c85fc6.js");</script>
</body>

</html>
