body {
    margin: 0;
    padding: 0;
}

.ui.button {
  background-color: rgb(48, 207, 208);
  color: white;
}

.ui.vertical.segment {
  border-bottom: none;
}

.ui.inverted.header-section.segment, .ui.primary.inverted.segment {
    background: none;
    background-color: rgb(45, 61, 133);
    background-image: url('/speakers_images/stars.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);*/
}

.ui.inverted.footer.segment, .ui.primary.inverted.segment {
    background: none;
    background-color: rgb(45, 61, 133);
    margin-bottom: -10%;
}

.ui.inverted.menu .header.item {
  margin-left: 4%;
  margin-right: 4%;
}

.ui.secondary.inverted.menu {
  background-color: rgb(45, 61, 133);
}

.header-section.segment {
  width: 100%;
  height: 100%;
  zoom: 0.75;
}

.header-section.segment #background img {
  position: relative;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header-section.segment .container {
  position: relative;
  top: 60%;
	transform: translateY(-70%);
}

.header-section.segment .container #logo {
  height: 200px;
  z-index: 2;
  position: relative;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.header-section.segment .container #gif {
  z-index: 1;
  position: absolute;
  height: 400px;
  width: 710px;
  left: 0;
  top: -70%;
  right: 0;
  bottom: 0;
  margin: auto; /* presto! */
}

.header-section.segment .container #first {
  margin-top: 180px;
  z-index: 2;
  position: relative;
  font-weight: 700;
  font-size: 26px;
}

.header-section.segment .container #second {
  position: relative;
  font-weight: 700;
  font-size: 50px;
  color: rgb(48, 207, 208);
  margin: 30px auto;
}

.header-section.segment .container #third {
  position: relative;
  font-weight: 700;
  font-size: 25px;
}

.header-section.segment .container #date {
  margin-top: 10%;
  position: relative;
  font-weight: 400;
  font-size: 23px;
  border: 3px white solid;
  height: 80px;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 22px;
}

.main.secondary.menu {
  z-index: 1;
  position: absolute;
  height: 100px;
  width: 100%;
  margin: 0;
  bottom: 0;
  border-radius: 0;
  border: none;
  box-shadow: none;
  transition:
    box-shadow 0.5s ease,
    padding 0.5s ease
  ;
}

.main.menu .header.item .ui.header {
  display: block;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
}

.main.menu .header.item img {
  display: block;
  height: 65px;
}

.main.menu .header.item .ui.button {
  display: none;
}
.main.menu .container  {
  margin: auto;
  width: 50%;
}

.main.menu .container .item {
  font-weight: 600;
  font-size: 21px;
}

.main.menu .right.item {
  padding: 0;
  margin-right: 3%;
}

.main.menu .right.item .icon  {
  display: none;
}

.main.menu .right.item .ui.button  {
  height: 50px;
  width: 120px;
  text-align: center;
  line-height: 25px;
  font-weight: 600;
  font-size: 17px;
}

.about-section.segment {
  width: 100%;
  margin: 0;
  padding-top: 6em;
  padding-bottom: 3em;
}

.about-section.segment .header.container {
  margin: 0;
  position: relative;
}

.about-section.segment .header.container #eventDate {
  color: rgb(48, 207, 208);
  font-size: 25px;
}

.about-section.segment .header.container #eventVenue {
  margin-top: 0;
  font-size: 25px;
}

.about-section.segment .detail.container {
  position: relative;
  margin-top: 4em;
}

.about-section.segment .detail.container h3 {
  font-weight: 500;
  line-height: 2em;
  text-align: center;
}

.speakers-section.segment {
  width: 100%;
  margin: 0;
  padding: 2em;
}

.speakers-section.segment .header.container {
  margin-top: 2em;
  position: relative;
}

.speakers-section.segment .detail.container {
  position: relative;
  margin-top: 4em;
  margin-bottom: 2em;
}

.speakers-section.segment .detail.container .column  {
  position: relative;
  height: 100%;
}

.speakers-section.segment .detail.container .column  img {
  position: relative;
}

.speakers-section.segment .detail.container .column  i {
  z-index: 1;
  position: absolute;
  top: 12%;
  right: 10%;
  font-size: 2em;
  color: white;
}

.speakers-section.segment .detail.container .column  h3 {
  z-index: 1;
  position: absolute;
  bottom: 2%;
}

.speakers-section.segment .detail.container .column  .info {
  color: lightgrey;
  font-weight: 600;
  margin-left: 5%;
  text-align: left;
  padding-right: 1em;
}

.speakers-section.segment .detail.container .column  .info .name {
  font-size: 25px;
  color: white;
  margin-bottom: -0.75em;
}

.partners-section.segment {
  width: 100%;
  margin: 0;
  padding: 3em;
}

.partners-section.segment .header.container {
  margin: 0;
  position: relative;
}

.partners-section.segment .description.container {
  margin: 0;
  position: relative;
  margin-top: 4em;
}

.partners-section.segment .description.container h3 {
  line-height: 2em;
  font-weight: 500;
}

.partners-section.segment .primary.detail.container {
  position: relative;
  margin-top: 3em;
}

.partners-section.segment .secondary.description.container {
  margin: 0;
  position: relative;
  margin-top: 4em;
}

.partners-section.segment .primary.detail.container .column  {
  position: relative;
  padding: 3%;
}

.partners-section.segment .primary.detail.container .column img {
  position: relative;
  height: 7em;
  margin-left: auto;
  margin-right: auto;
}

.partners-section.segment .secondary.detail.container {
  position: relative;
  margin-top: 3em;
}

.partners-section.segment .secondary.detail.container .column  {
  position: relative;
  padding: 3%;
}

.partners-section.segment .secondary.detail.container .column  img {
  position: relative;
  height: 7em;
  margin-left: auto;
  margin-right: auto;
}

.agenda-section.segment {
  width: 100%;
  margin: 0;
  padding: 3em;
}

.agenda-section.segment .header.container {
  margin: 0;
  position: relative;
}

.agenda-section.segment .description.container {
  margin: 0;
  position: relative;
  margin-top: 0em;

}

.agenda-section.segment .description.container h3 {
  font-weight: 500;
}

.agenda-section.segment {
  width: 100%;
  margin: 0;
  padding: 3em;
}

.agenda-section.segment .header.container {
  margin: 0;
  position: relative;
}

.agenda-section.segment .content {
  margin: 0;
  padding: 0;
  position: relative;
  margin-top: 4em;
  height: 510px;
}

.agenda-section.segment .content .column {
  height: 580px;
  width: 100%;
}

.agenda-section.segment .content .column .card {
  position: relative;
  width: 100%;
  height: 81%;
  vertical-align: middle;
}

.agenda-section.segment .content .column .card h2 {
  position: relative;
  top: 0%;
  font-weight: 600;
  font-size: 25px;
  background-color: rgb(48, 207, 208);
  color: white;
  height: 70px;
  padding-top: 4.5%;
}

.agenda-section.segment .content .column .card .event {
  text-align: left;
  float: left;
  margin-top: 20px;
  margin-left: 30px;
  padding-right: 6em;
}

.agenda-section.segment .content .column .card .date {
  position: absolute;
  display: inline;
  right: 83%;
  font-weight: 400;
  font-size: 14px;
  color: grey;
}

.agenda-section.segment .content .column .card .title {
  position: relative;
  display: inline;
  left: 17%;
  font-weight: 600;
  font-size: 15px;
  color: black;
  word-wrap: break-word;
}

.agenda-section.segment .content .column .card .titleWeb {
  position: relative;
  display: inline;
  left: 17%;
  font-weight: 600;
  font-size: 15px;
  color: black;
  word-wrap: break-word;
}

.agenda-section.segment .content .column .card .titleMobile {
  position: relative;
  display: none;
  left: 17%;
  font-weight: 600;
  font-size: 15px;
  color: black;
  word-wrap: break-word;
}

.agenda-section.segment .content .column .card .descripWeb {
  position: relative;
  display: inline;
  left: 17%;
  font-weight: 400;
  font-size: 14px;
  color: black;
}

.agenda-section.segment .content .column .card .descripMobile {
  position: relative;
  display: none;
  left: 17%;
  font-weight: 400;
  font-size: 14px;
  color: black;
}

#full-agenda{
  width: 300px;
  display: block;
  margin: 20px auto;
  background-color: rgb(48, 207, 208);
  color: white;
  font-size: 18px;
}

#video {
  width: 300px;
  display: block;
  margin: 20px auto;
  background-color: rgb(45, 61, 133);
  color: white;
  font-size: 18px;
}


.pricing-section.segment {
  width: 100%;
  margin: 0;
  padding: 3em;
}

.pricing-section.segment .header.container {
  margin-bottom: 3em;
  position: relative;
}

.pricing-section.segment .content {
  margin: 0;
  padding: 0;
  position: relative;
}

.pricing-section.segment .content .column {
  height: 350px;
  width: 100%;
}

.pricing-section.segment .content .column .card {
  position: relative;
  width: 100%;
  height: 300px;
  vertical-align: middle;
}

.pricing-section.segment .content .column .card h1 {
  position: relative;
  top: 5%;
  font-size: 40px;
}

.pricing-section.segment .content .column .card h2 {
  position: relative;
  top: 10%;
  font-weight: 600;
  font-size: 18px;
}

.pricing-section.segment .content .column .card h4 {
  position: relative;
  top: 3%;
  font-weight: 400;
  font-size: 17px;
  color: grey;
}


.pricing-section.segment .content .column .card .eb {
  position: relative;
  top: 10%;
}

.pricing-section.segment .content .column .card .eb h3 {
  position: relative;
  top: 15%;
  font-weight: 500;
  font-size: 18px;
  color: grey;
}

.pricing-section.segment .content .column .card .button {
  position: relative;
  top: 23%;
  height: 50px;
  font-size: 18px;
  font-weight: 600;
}

.arena-section.segment {
  width: 100%;
  margin: 0;
  padding: 3em;
}

.arena-section.segment .arena.container {
  position: relative;
}

.arena-section.segment .header.container {
  margin-bottom: 3em;
}

.arena-section.segment .arena.container h1{
  z-index: 1;
  position: absolute;
  left: 0;
  top: 59%;
  right: 0;
  bottom: 0;
  color: #FFFFFF;
  margin: auto;
}

.arena-section.segment .arena.container #eligibility_criteria{
  z-index: 1;
  width: 200px;
  display: block;
  color: white;
  font-size: 18px;
  position: absolute;
  top: 72%;
  left: 0%;
  right: 0%;
  margin: auto;
}

.arena-section.segment .arena.container #arena_next{
  z-index: 1;
  width: 200px;
  display: block;
  color: white;
  font-size: 18px;
  position: absolute;
  top: 85%;
  left: 0%;
  right: 0%;
  margin: auto;
}

.arena-section.segment .arena.container h2{
  color: #FFFFFF;
  margin: auto;
  text-align: center;
  horiz-align: center;
  position: center;
}

.arena-section.segment .arena.container #arena_application_form_section{
  height: fit-content;
  border-radius: 12px;
  border: 6px solid rgb(48, 207, 208);
}

.arena-section.segment .arena.container #arena_application_form_section img{
  height: 990px;
}

.arena-section.segment .arena.container .shape .sides .side h2{
  color: #FFFFFF;
  margin: auto;
  text-align: center;
  font-size: 18px;
}

.arena-section.segment .arena.container .shape .sides .side form h2{
    text-align: left;
}

.arena-section.segment .arena.container .shape .sides .side form{
  z-index: 99;
  position: absolute;
  left: 15%;
  top: 3%;
  margin: auto;
  width: 70%;
  text-align: left;
}

.arena-section.segment .arena.container .shape .sides .side form h1{
  text-align: center;
  color: #FFFFFF;
  position: relative;
}


.arena-section.segment .arena.container .shape .sides .side input{
  font-size: 16px;
  text-align: left;
}

.arena-section.segment .arena.container .shape .sides .side textarea{
  font-size: 18px;
}

#words_count{
  color: #ffffff;
  font-size: 18px;
  alignment: left;
}

.venue-section.segment {
  width: 100%;
  margin: 0;
  padding: 3em;
}

.venue-section.segment .grid {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
}

.venue-section.segment .grid .column  {
  padding: 0;
}

.venue-section.segment .grid #image img  {
  position: relative;
  height: 500px;
  width: 100%;
  padding: 0;
}

.venue-section.segment .grid #location .location.text  {
  position: relative;
  top: 0;
  height: 250px;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: rgb(46, 61, 137);
}

.venue-section.segment .grid #location .location.text h2 {
  position: relative;
  top: 25%;
  font-weight: 600;
  font-size: 20px;
  color: white;
  text-align: center;
}

.venue-section.segment .grid #location #map {
  position: relative;
  height: 250px;
  width: 100%;
  padding: 0;
}

.contact-section.segment {
  width: 100%;
  margin: 0;
  padding: 3em;
}

.contact-section.segment .header.container {
  position: relative;
}

.contact-section.segment .update.container  {
  position: relative;
  margin-top: 2em;
}

.contact-section.segment .update.container h3 {
  position: relative;
  line-height: 2em;
  font-size: 18px;
  font-weight: 500;
}

.contact-section.segment .update.container .input {
  position: relative;
  margin-top: 2em;
}

.contact-section.segment .update.container #thankyou_message h2 {
  position: relative;
  margin-top: 3em;
  font-size: 18px;
}

.contact-section.segment .contact-header.container {
  position: relative;
  margin-top: 4em;
}

.contact-section.segment .description.container {
  position: relative;
  margin-top: 2em;
  margin-bottom: 2em;
}

.contact-section.segment .description.container h3 {
  position: relative;
  line-height: 2em;
  font-size: 18px;
  font-weight: 500;
}

.footer.segment {
  width: 100%;
  margin: 0;
  padding: 3em;
  min-height: 100px;
}

.footer.segment .grid {
  margin: 0;
}

.footer.segment .grid #logo .header {
  position: relative;
  font-size: 20px;
  text-align: center;
  margin-top: 1em;
}

.footer.segment .grid #comment .container {
  position: relative;
  width: 100%;
  margin: auto;
}

.footer.segment .grid #comment .container .header {
  position: relative;
  font-size: 20px;
  text-align: center;
  margin-top: 1em;
}

.footer.segment .grid #comment .container img {
  width: 20%;
}

.footer.segment .grid #social .container {
  position: relative;
  width: 150px;
  text-align: center;
  margin-top: 1em;
}

.footer.segment .grid #social .container i {
  color: white;
  position: relative;
  height: 100%;
  margin: 0 7px;
  font-size: 25px;
  font-weight: 300;
}


#side_bar {
    position: fixed; /* Stay in place */
    display: block;
    opacity: 0;
    z-index: -1; /* Sit on top */
    padding-top: 5%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden;; /*Enable scroll if needed */
    background-color: rgb(48, 207, 208); /* Fallback color */
    transition: 0.3s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

#side_bar .modal-content {
    margin: auto;
    padding: 10px;
    width: 80%;
}

#side_bar .modal-content i {
    color: #FFFFFF;
    float: right;
    font-size: 28px;
    font-weight: 600;
}

#side_bar .modal-content .list {
    margin-top: 20%;
    color: #FFFFFF;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

#side_bar .modal-content .list .item {
    margin: 25px 0;
}

#promo {
  opacity: 0;
  /*display: inline-block;*/
  /*vertical-align: center;*/
  /*horiz-align: center;*/
  /*border: 6px solid rgb(48, 207, 208);*/
  /*border-radius: 10px;*/
  /*background-color: darkgray;*/
}





/*#promo_image {*/
  /*max-width: 100%;*/
  /*max-height: 100%;*/
  /*margin-bottom: -0.4em;*/
  /*margin-right: -0.4em;*/
/*}*/

@media only screen and (max-width: 2500px) {
  .ui.inverted.menu .header.item {
    margin-left: 4%;
    margin-right: 4%;
  }

  .main.menu .container .item {
    font-weight: 600;
    font-size: 21px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .header-section.segment .container #date {
    margin-top: 5%;
    font-weight: 600;
    font-size: 23px;
    /*color: rgb(48, 207, 208);*/
  }

  .header-section.segment .container #logo {
    height: 200px;
    z-index: 2;
    position: relative;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .header-section.segment .container #gif {
    z-index: 1;
    position: absolute;
    /*height: 450px;
    width: 750px;*/
    height: 400px;
    width: 710px;
    left: 0;
    top: -70%;
    right: 0;
    bottom: 0;
    margin: auto; /* presto! */
  }

  .header-section.segment .container #first {
    margin-top: 180px;
    z-index: 2;
    position: relative;
    font-weight: 700;
    font-size: 26px;
  }

  .header-section.segment .container #second {
    position: relative;
    font-weight: 700;
    font-size: 50px;
    color: rgb(48, 207, 208);
    margin: 30px auto;
  }

  .header-section.segment .container #third {
    position: relative;
    font-weight: 700;
    font-size: 25px;
  }

  .header-section.segment .container #date {
    margin-top: 10%;
    position: relative;
    font-weight: 400;
    font-size: 23px;
    border: 3px white solid;
    height: 80px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 22px;
    /*color: rgb(48, 207, 208);*/
  }

}

@media only screen and (max-width: 1500px) {
  .ui.inverted.menu .header.item {
    margin-left: 2.5%;
    margin-right: 0%;
  }

  .main.menu .container .item {
    font-weight: 600;
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px;
  }


  .header-section.segment .container {
    position: relative;
    top: 40%;
  	transform: translateY(-70%);
  }

  .header-section.segment .container #logo {
    margin-top: 100px;
    height: 100px;
    z-index: 2;
    position: relative;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .header-section.segment .container #gif {
    z-index: 1
    position: absolute;
    height: 250px;
    width: 444px;
    left: 0;
    top: -75%;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  .header-section.segment .container #first {
    margin-top: 90px;
    z-index: 2;
    position: relative;
    font-weight: 700;
    font-size: 20px;
  }

  .header-section.segment .container #second {
    z-index: 2;
    position: relative;
    font-weight: 700;
    font-size: 40px;
    color: rgb(48, 207, 208);
    margin: 20px auto;
  }

  .header-section.segment .container #third {
    z-index: 2;
    position: relative;
    font-weight: 700;
    font-size: 20px;
  }

  .header-section.segment .container #date {
    display: none;
    margin-top: 5%;
    position: relative;
    font-weight: 400;
    font-size: 18px;
    border: 3px white solid;
    height: 50px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 22px;
  }

  .agenda-section.segment .content .column .card {
    position: relative;
    width: 100%;
    height: 87%;
    vertical-align: middle;
  }

  .arena-section.segment .arena.container #arena_application_form_section img{
      height: 1050px;
  }
}

@media only screen and (max-width: 1000px) {
  .main.menu .container .item {
    font-weight: 600;
    font-size: 13px;
    padding-left: 4px;
    padding-right: 4px;
  }

  .speakers-section.segment .detail.container .column  {
    position: relative;
    height: 100%;
    padding: 0px;
  }

  .speakers-section.segment .detail.container .column  h3 {
    z-index: 1;
    position: absolute;
    bottom: 0%;
  }

  .speakers-section.segment .detail.container .column  .info {
    font-size: 12px;
    color: lightgrey;
    font-weight: 600;
    margin-left: 5%;
    text-align: left;
    padding-right: 1em;
  }

  .speakers-section.segment .detail.container .column  .info .name {
    font-size: 17px;
    color: white;
    margin-left: 0.3%;
    margin-bottom: -0.75em;
  }

  .speakers-section.segment .detail.container .column #no_warp{
    white-space: nowrap;
  }

  .speakers-section.segment .detail.container .column  i {
    z-index: 1;
    position: absolute;
    top: 10%;
    right: 8%;
    font-size: 1.5em;
    color: white;
  }

  .arena-section.segment .arena.container #arena_application_form_section img{
    height: 1100px;
  }
}

@media only screen and (max-width: 700px) {
  .header-section.segment{
    zoom: 100%;
  }

  .header-section.segment .container {
    position: relative;
    top: 50%;
  	transform: translateY(-65%);
  }

  .header-section.segment .container {
    position: relative;
    top: 40%;
  	transform: translateY(-70%);
  }

  .header-section.segment .container #logo {
    margin-top: 130px;
    height: 100px;
    z-index: 2;
    position: relative;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .header-section.segment .container #gif {
    z-index: 1
    position: absolute;
    height: 230px;
    width: 408px;
    left: 0;
    top: -75%;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  .header-section.segment .container #first {
    margin-top: 77px;
    z-index: 2;
    position: relative;
    font-weight: 700;
    font-size: 20px;
  }

  .header-section.segment .container #second {
    z-index: 2;
    position: relative;
    font-weight: 700;
    font-size: 40px;
    color: rgb(48, 207, 208);
    margin: 20px auto;
  }

  .header-section.segment .container #third {
    z-index: 2;
    position: relative;
    font-weight: 700;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
  }

  .header-section.segment .container #date {
    display: none;
    margin-top: 5%;
    position: relative;
    font-weight: 400;
    font-size: 18px;
    border: 3px white solid;
    height: 50px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 22px;
  }

  .main.menu .container {
    display: none;
  }

  .main.menu .header.item img {
    display: none;
  }

  .main.menu .right.item .button  {
    display: none;
  }
  .main.menu .right.item .icon {
    font-size: 25px;
    display: block;
    color: white;
  }

  .main.secondary.menu {
    z-index: 1;
    position: absolute;
    height: 60px;
    width: 100%;
    margin: 0;
    bottom: 0;
    border-radius: 0;
    border: none;
    box-shadow: none;
    transition:
      box-shadow 0.5s ease,
      padding 0.5s ease
    ;
  }

  .main.menu .header.item .ui.header {
    display: none;
  }

  .main.menu .header.item {
    padding: 0;
    margin: 0;
  }

  .main.menu .header.item .ui.button {
    padding-left: 15px;
    display: block;
    height: 40px;
    width: 100px;
    text-align: center;
    line-height: 15px;
    font-weight: 600;
    font-size: 16px;
  }

  .about-section.segment .detail.container {
    position: relative;
    margin-top: 4em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .agenda-section.segment .content {
    margin: 0;
    padding: 0;
    position: relative;
    margin-top: 4em;
    height: 1090px;
  }

  .agenda-section.segment .content .column .card h2 {
    position: relative;
    top: 0%;
    font-weight: 600;
    font-size: 22px;
    background-color: rgb(48, 207, 208);
    color: white;
    height: 60px;
    padding-top: 4.5%;
  }

  .agenda-section.segment .content .column .card .event {
    text-align: left;
    float: left;
    margin-top: 20px;
    margin-left: 30px;
  }

  .agenda-section.segment .content .column .card .date {
    position: absolute;
    display: inline;
    right: 80%;
    font-weight: 400;
    font-size: 13px;
    color: grey;
  }

  .agenda-section.segment .content .column .card .title {
    position: relative;
    display: inline;
    left: 20%;
    font-weight: 600;
    font-size: 14px;
    color: black;
  }

  .agenda-section.segment .content .column .card .titleWeb {
    position: relative;
    display: none;
    left: 20%;
    font-weight: 600;
    font-size: 14px;
    color: black;
  }

  .agenda-section.segment .content .column .card .titleMobile {
    position: relative;
    display: inline;
    left: 20%;
    font-weight: 600;
    font-size: 14px;
    color: black;
  }

  .agenda-section.segment .content .column .card .descripWeb {
    position: relative;
    display: none;
    left: 20%;
    font-weight: 400;
    font-size: 13px;
    color: black;
  }

  .agenda-section.segment .content .column .card .descripMobile {
    position: relative;
    display: inline;
    left: 20%;
    font-weight: 400;
    font-size: 13px;
    color: black;
  }

  .speakers-section.segment .header.container {
    margin-top: 2em;
    position: relative;
  }

  .speakers-section.segment .detail.container {
    position: relative;
    margin-top: 4em;
    margin-bottom: 2em;
  }

  .speakers-section.segment .detail.container .column  {
    position: relative;
    height: 100%;
    padding: 4px;
  }

  .speakers-section.segment .detail.container .column  h3 {
    z-index: 1;
    position: absolute;
    bottom: 0%;
  }

  .speakers-section.segment .detail.container .column  .info {
    font-size: 13px;
    color: lightgrey;
    font-weight: 600;
    margin-left: 5%;
    text-align: left;
    padding-right: 1em;
  }

  .speakers-section.segment .detail.container .column  .info .name {
    font-size: 18px;
    color: white;
    margin-left: 0.3%;
    margin-bottom: -0.75em;
  }

  .speakers-section.segment .detail.container .column #no_warp{
    white-space: nowrap;
  }

  .speakers-section.segment .detail.container .column  i {
    z-index: 1;
    position: absolute;
    top: 10%;
    right: 8%;
    font-size: 1.5em;
    color: white;
  }

  .partners-section.segment .description.container {
    margin: 0;
    position: relative;
    margin-top: 4em;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  .partners-section.segment .primary.detail.container .column  {
    position: relative;
    padding: 6%;
    margin: 9px 0;
  }

  .partners-section.segment .secondary.detail.container .column  {
    position: relative;
    padding: 6%;
    margin: 3px 0;
  }

  .arena-section.segment .arena.container h1{
    font-size: 15px;
  }

  .arena-section.segment .arena.container h2{
    font-size: 14px;
  }

  .arena-section.segment .arena.container #eligibility_criteria{
    width: 100px;
    font-size: 12px;
  }

  .arena-section.segment .arena.container #arena_next{
    top: 85%;
    width: 150px;
    font-size: 12px;
  }

  .arena-section.segment .arena.container .shape .sides .side form{
    top: 3%;
  }

  .arena-section.segment .arena.container #arena_application_form_section img{
    height: 1350px;
  }

  .arena-section.segment .arena.container #app_form_header{
    font-size: 20px;
  }

  .venue-section.segment .grid #image img  {
    position: relative;
    height: 300px;
    width: 100%;
    padding: 0;
  }

  .contact-section.segment .update.container .input input {
    position: relative;
    width: 200px;
  }

  .contact-section.segment .update.container .input button {
    position: relative;
    width: 90px;
    font-size: 15px;
    text-align: center;
    padding: 10px auto;
  }

  .footer.segment {
    width: 100%;
    margin: 0;
    padding: 3em;
    min-height: 50px;
  }

  .footer.segment .grid #logo .header {
    position: relative;
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
  }

  .footer.segment .grid #comment .container .header {
    position: relative;
    font-size: 17px;
    text-align: center;
    margin: 10px;
  }

  .footer.segment .grid #social .container {
    position: relative;
    width: 150px;
    text-align: center;
    margin-bottom: 15px;
  }

  .footer.segment .grid #social .container i {
    font-size: 25px;
    font-weight: 200;
  }

}
